<!DOCTYPE html>
<html>

<head>
    <meta name="oversea" content="false" />
    <meta name="data-spm" content="a1z10" />
    <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
    <meta name="description" content="淘宝, 店铺, 旺铺, 小米官方旗舰店" />
    <meta name="keywords" content="欢迎前来淘宝网小米官方旗舰店 旺铺，众多商品任你选购" />
    <meta name="ahot-aplus" content="1">
    <meta name="microscope-data" content="pageId=879252718;prototypeId=1;siteCategory=3;siteInstanceId=268293392;shopId=104736810;userId=1714128138" />
    <link rel="dns-prefetch" href="//a.tbcdn.cn">
    <link rel="dns-prefetch" href="//img01.taobaocdn.com">
    <link rel="dns-prefetch" href="//img02.taobaocdn.com">
    <link rel="dns-prefetch" href="//img03.taobaocdn.com">
    <link rel="dns-prefetch" href="//img04.taobaocdn.com">
    <link rel="dns-prefetch" href="//log.mmstat.com">
    <link rel="dns-prefetch" href="//item.taobao.com">
    <link rel="dns-prefetch" href="//gdp.alicdn.com">
    <link rel="dns-prefetch" href="//img.alicdn.com">
    <title>
        首页-小米官方旗舰店-天猫Tmall.com
    </title>
    <script>
    window.g_hb_monitor_st = +new Date();
    window.g_config = {
        appId: 2,
        assetsHost: "//assets.alicdn.com/",
        toolbar: false,
        pageType: "tmall",
        sysId: "shop",
        shopId: "104736810",
        sellerId: "1714128138",
        wtId: "2066676875",
        showShopQrcode: true
    };
    window.shop_config = {
        "shopId": "104736810",
        "siteId": "2",
        "userId": "1714128138",
        "user_nick": "%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97",
        "async_mod": {
            "url": "/widgetAsync.htm?site_instance_id=268293392",
            "hps": 800
        },
        "template": {
            "name": "",
            "id": "401632103",
            "design_nick": "junezx"
        }
    };
    window.shop_config.isView = true;
    window.shop_config.isvStat = {
        nickName: '%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97',
        userId: '1714128138',
        shopId: '104736810',
        siteId: '2',
        siteCategoryId: '3',
        itemId: '',
        shopStats: '1',
        validatorUrl: '//store.taobao.com/tadget/shop_stats.htm',
        templateId: '401632103',
        templateName: ''
    };
    window._poc = window._poc || [];
    window._poc.push(["_trackCustom", "tpl", "new_shop"]);
    </script>
    <!-- message UvFcYMmHyOmHGONTT $e.message -->
    <link rel="shortcut icon" href="//assets.alicdn.com/p/mall/base/favicon.ico" type="image/x-icon" />
    <!--newTMall-->
    <script>
    window.trackTagShop = "shop-head";
    </script>
    <script>
    window.g_config = window.g_config || {};
    window.g_config.removeBrandBar = true;
    </script>
    <script>
    (function(D, W) {
        var sampling = 1000,
            maxNum = 5,
            _st = +new Date();
        if (Math.floor(Math.random() * sampling) > 0) {
            return;
        }
        var onError = W.onerror = function(err, file, line) {
            if ((--maxNum) <= 0) {
                return;
            };
            err = '[uhttp://store.tmall.com/error/0.0.1/]' + err;
            err = '[t' + (new Date() - _st) + ']' + err;
            if (W._jstErrCat) {
                err = '[c' + W._jstErrCat + ']' + err;
            }
            var nick = "",
                result;
            try {
                result = /_nk_=([^;]+)/.exec(D.cookie);
                if (result) {
                    nick = decodeURIComponent(result[1]);
                }
            } catch (e) {}
            new Image().src = "http://gm.mmstat.com/ued.1.1.2?" + ["type=9", "id=jstracker", "v=0.01", "nick=" + encodeURIComponent(nick), "islogin=0", "msg=" + encodeURIComponent(err || ""), "file=" + encodeURIComponent(file || ""), "line=" + encodeURIComponent(line || ""), "scrolltop=" + (D.documentElement.scrollTop || D.body.scrollTop || 0), "screen=" + screen.width + "x" + screen.height, "t=" + new Date().valueOf()].join("&");
        };
        W._jstErrTimeout = setTimeout(function() {
            onError("App init timeout");
        }, 4096);
    })(document, window)
    </script>
{{!--     <link rel="stylesheet" type="text/css" href="//g.alicdn.com/shop/wangpu/1.1.0/global/copyright-min.css">
    <link rel="stylesheet" href="//g.alicdn.com/shop/??wangpu/1.1.0/layout/layout-tmall-990-min.css,wangpu/1.1.0/global/copyright-min.css,modules/0.2.0/modules-tmall-default-min.css">    
    <link rel="stylesheet" href="//g.alicdn.com/??mui/global/1.3.3/global.css,tm/shop/1.2.86/app.css,tm/shop/1.2.86/page/shop.css" /> --}}

    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="css/style3.css">
    <link rel="stylesheet" href="css/style4.css">


    <script src="//g.alicdn.com/??kissy/k/1.3.0/seed-min.js,mui/seed/1.1.11/seed.js,mui/seed-g/1.0.90/seed.js,mui/btscfg-g/1.3.0/index.js,mui/bucket/3.0.3/index.js,mui/globalmodule/1.4.10/global-mod-pc.js,mui/globalmodule/1.4.10/global-mod.js,mui/global/1.3.3/global-pc.js,mui/global/1.3.3/global.js,tm/shop/1.2.86/app.js,tm/shop/1.2.86/page/shop.js"></script>
    <script src="//g.alicdn.com/secdev/pointman/js/index.js" app="tmall"></script>
    <script>
    TB.environment.isApp = true;
    TB.environment.passCookie = true;
    </script>
    <!--head fix rgn-->
    <style>
    #header .hot-query {
        *height: 14px
    }
    
    #header .hot-query li {
        display: inline-block;
        *zoom: 1;
        *display: inline;
        border-left: 1px solid #ccc;
        line-height: 1.1;
        *line-height: 1.2;
        padding: 0 12px;
    }
    
    body #tstart {
        right: 35px
    }
    
    body #mallPage #header.mui-global-header-fixed {
        overflow: visible;
    }
    
    .mui-global-nav-list {
        -webkit-transform: translateZ(0)
    }
    
    body #mallSearch button {
        position: absolute
    }
    </style>
    <link rel="stylesheet" href="//g.alicdn.com/shop/taesite/0.1.0/tmall/tml/brandbar/css/brandbar-min.css" />

    <!-- combo designer's module css -->
    <link rel="stylesheet" href="//gdp.alicdn.com/bao/uploaded/i2/TB1NJAIHFXXXXayXpXXn00bFXXX.css" />
    <!-- 独立模块css -->
    <!-- pageCss in pagePrototype -->
    <!--module_custom_css -->
    <link rel="stylesheet" href="//gdp.alicdn.com/bao/uploaded/i2/TB1Nc0SHVXXXXXZXpXXn00bFXXX.css" />
    <script src="//g.alicdn.com/shop/wangpu/1.2.1/init-async-min.js"></script>
    <!-- pageJs in pagePrototype-->
    <style>
    #content .design-page {
        position: relative;
        z-index: 1000;
        width: 950px;
        margin: 0 auto;
    }
    
    #page #content #bd {
        width: 100%
    }
    </style>
    <!-- page_style -->
    <style>
    #content {
        background: url(about:blank) repeat left 0 #FFFFFF;
    }
    
    #hd {
        background: url(//gdp.alicdn.com/bao/uploaded/i2/TB1Spl8HpXXXXaFXXXXSutbFXXX.jpg) repeat-x center 0 #FFFFFF;
    }
    </style>
</head>

<body data-spm="1-b">
    <script type="text/javascript">
    (function(d) {
        var t = d.createElement("script");
        t.type = "text/javascript";
        t.async = true;
        t.id = "tb-beacon-aplus";
        t.setAttribute("exparams", "category=&userid=&at_shoptype=2%5f104736810&at_isb=1&atp_isdpp=2v104736810&aplus&asid=AACVi1hV4JxPELNVwUM=");
        t.src = ("https:" == d.location.protocol ? "https://s" : "http://a") + ".tbcdn.cn/s/aplus_v2.js";
        d.getElementsByTagName("head")[0].appendChild(t);
    })(document);
    </script>
    <script>
    var login_config = {
        loginUserId: "0",
        loginUserNick: "",
        b2cLightAll: false,
        c2cLightAll: false,
        allLightAll: false,
        q75: false,
        currentTime: "2015-05-17-20-37-41",
        isInternal: false,
        isAudit: false
    }
    </script>
    <input type="hidden" value="Xl9KZqbGXbs4" name="tb_token" id="J_TokenField" />
    <input type="hidden" id="J_TSelectedMenuInfo" value='{"selectedMenu":{"pageId":"879252718", "catId": "" , "childCatId": "" , "linkId":""}}'>
    <!--
小米官方旗舰店,//xiaomi.tmall.com,%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97,%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%89%A6%E5%BA%97,1 false
-->
    <div id="page">
        <!-- test vmcommon -->
        <style>
        body #mallLogo .mlogo s {
            height: 26px;
        }
        
        body #mallLogo .mlogo s:before {
            top: 0;
        }
        
        body #mallLogo .mlogo s::before {
            top: 8px;
            top: 13px 9;
            line-height: 26px
        }
        /*边看边买*/
        
        .tm-watch-and-buy-module .module-video .mvi-config .mvi-config-more {
            display: none;
        }
        </style>
        {{!-- <link rel="stylesheet" href="/css/base.css" /> --}}
        <script src="http://g.tbcdn.cn/tm/chn-3c/1.5.46/??seed.js,base.js,globalnav.js"></script>
        <style>
        #mallPage.mallChn,
        #mallPage {
            min-width: 990px !important;
        }
        
        @media (min-width: 990px) {
            .c3-navrow-global .c3-navrow-container {
                width: 990px !important;
            }
        }
        
        @media (min-width: 1210px) {
            .c3-navrow-global .c3-navrow-container {
                width: 1190px !important;
            }
        }
        
        .w990 .c3-fuwu-global .c3-inner,
        .w990 .c3-navrow-global .c3-navrow-container,
        .w0 .c3-navrow-global .c3-navrow-container,
        .subjectType0 .c3-navrow-global .c3-navrow-container,
        .subjectType9 .c3-navrow-global .c3-navrow-container {
            width: 990px !important;
        }
        
        body #mallSearch .defaultSearch {
            border: 3px solid #296ecc
        }
        
        .c3-navrow-global {
            background-color: #fff;
        }
        
        body {
            background-image: none !important;
        }
        </style>
        <div id="site-nav" data-spm="a2226mz">
            <div id="sn-bg">
                <div class="sn-bg-right">
                </div>
            </div>
            <div id="sn-bd">
                <b class="sn-edge"></b>
                <div class="sn-container">
                    <p id="login-info" class="sn-login-info"></p>
                    <ul class="sn-quick-menu">
                        <li class="sn-tmallbao menu-item">
                            <a target="_top" href="//fun.alipay.com/tmb/tmb.htm">天猫宝</a>
                        </li>
                        <li class="sn-mytaobao menu-item j_MyTaobao">
                            <div class="sn-menu">
                                <a class="menu-hd" href="//i.taobao.com/my_taobao.htm" target="_top" rel="nofollow">我的淘宝<b></b></a>
                                <div class="menu-bd">
                                    <div class="menu-bd-panel" id="myTaobaoPanel">
                                        <a href="//trade.taobao.com/trade/itemlist/list_bought_items.htm?t=20110530" target="_top" rel="nofollow">已买到的宝贝</a>
                                        <a href="//trade.taobao.com/trade/itemlist/list_sold_items.htm?t=20110530" target="_top" rel="nofollow">已卖出的宝贝</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sn-seller-center hidden j_SellerCenter">
                            <a target="_top" href="//mai.taobao.com/seller_admin.htm">商家中心</a>
                        </li>
                        <li class="sn-mybrand"><i class="mui-global-iconfont">&#x3449;</i>
                            <a target="_top" id="J_SnMyBrand" class="sn-mybrand-link" href="//mybrand.tmall.com?scm=1048.1.1.1">我关注的品牌</a>
                        </li>
                        <li class="sn-cart"><i class="mui-global-iconfont">&#xf0148;</i>
                            <a class="sn-cart-link" href="//cart.tmall.com/cart/myCart.htm?from=btop" target="_top" rel="nofollow">购物车
                    </a>
                        </li>
                        <li class="sn-favorite menu-item">
                            <div class="sn-menu">
                                <a class="menu-hd" href="//shoucang.taobao.com/shop_collect_list.htm?scjjc=c1" target="_top" rel="nofollow">收藏夹<b></b></a>
                                <div class="menu-bd">
                                    <div class="menu-bd-panel">
                                        <a href="//shoucang.taobao.com/item_collect.htm" target="_top" rel="nofollow">收藏的宝贝</a>
                                        <a href="//shoucang.taobao.com/shop_collect_list.htm" target="_top" rel="nofollow">收藏的店铺</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sn-separator"></li>
                        <li class="sn-mobile">
                            <i class="mui-global-iconfont">&#x3448;</i>
                            <a title="天猫无线" target="_top" class="sn-mobile-link" href="//mobile.tmall.com/?scm=1027.1.1.1">手机版</a>
                        </li>
                        <li class="sn-home">
                            <a href="//www.taobao.com/">淘宝网</a>
                        </li>
                        <li class="sn-seller menu-item">
                            <div class="sn-menu J_DirectPromo">
                                <a class="menu-hd" href="//shangjia.tmall.com/portal.htm?spm=3600.7326145.a2226mz.19.hvXP0t" target="_top">商家支持<b></b></a>
                                <div class="menu-bd sn-seller-lazy">
                                </div>
                            </div>
                        </li>
                        <li class="sn-sitemap">
                            <div class="sn-menu">
                                <h3 class="menu-hd"><i class="mui-global-iconfont">&#xe601;</i><span>网站导航</span><b></b></h3>
                                <div class="menu-bd sn-sitemap-lazy sn-sitemap-bd" data-spm="a2228l4">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="header" class="">
            <!-- global logo -->
            <div id="headerCon">
                <h1 id="mallLogo" style="width: 121px;">
            <span class="mlogo" style="width: 104px;height: 33px;display: block;padding-top: 18px;">
              <a href="http://3c.tmall.com/?scm=1238.1.3.1" target="_blank" title="天猫电器城" style="width: 104px; height: 33px;"><s style="font-size:0;width: 104px!important; height:33px!important; background: url(http://gtms03.alicdn.com/tps/i3/T16fWwFAtbXXXFqN74-104-33.png) no-repeat 0 0!important"></s>天猫Tmall.com</a>
            </span>
        </h1>
                <div id="shopExtra" data-spm="1997427721">
                    <div class="slogo">
                        <a class="slogo-shopname" href="//xiaomi.tmall.com" data-spm="d4918089"><strong>小米官方旗舰店</strong></a>
                        <div class="slogo-extraicon bShop ">
                            <span class="flagship-icon"><span class="flagship-icon-font">品牌直销</span></span>
                            <span class="slogo-ww J_WangWang" data-nick="%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97" data-tnick="%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%89%A6%E5%BA%97" data-encode="true" data-display="inline" data-icon="static"></span>
                        </div>
                    </div>
                    <div id="shop-info">
                        <div style="display:none">
                            <input type="hidden" id="dsr-url" value="http://count.tbcdn.cn/counter3?keys=SM_368_dsr-d05d9e6324a811f4e2cb7918db4c88d3" />
                            <input type="hidden" id="dsr-userid" value="1714128138" />
                            <input type="hidden" id="dsr-ratelink" value="http://rate.taobao.com/user-rate-UvFcYMmHyOmHGONTT.htm" />
                        </div>
                        <div class="main-info">
                            <div class="shopdsr-item">
                                <div class="shopdsr-title">描 述</div>
                                <div class="shopdsr-score shopdsr-score-up-ctrl"><span class="shopdsr-score-con">4.8</span>
                                    <s class="shopdsr-score-up"></s>
                                </div>
                            </div>
                            <div class="shopdsr-item">
                                <div class="shopdsr-title">服 务</div>
                                <div class="shopdsr-score shopdsr-score-equal-ctrl"><span class="shopdsr-score-con">4.7</span>
                                    <s class="shopdsr-score-equal"></s>
                                </div>
                            </div>
                            <div class="shopdsr-item">
                                <div class="shopdsr-title">物 流</div>
                                <div class="shopdsr-score shopdsr-score-up-ctrl"><span class="shopdsr-score-con">4.7</span>
                                    <s class="shopdsr-score-up"></s>
                                </div>
                            </div>
                            <a class="slogo-triangle"><i class="icon-triangle"></i></a>
                        </div>
                        <div class="extra-info has-follow ">
                            <textarea class="ks-datalazyload">
                                <div class="hd" id="j_ExtraInfoHd">
                                    <a data-spm="d4918093" class="shop-logo" target="_blank" href="http://brand.tmall.com/brandInfo.htm?brandId=3506680&scm=1048.1.1.5">
                                        <img src="http://img01.taobaocdn.com/bao/uploaded/TB1UlpFHXXXXXbtXpXXSutbFXXX.jpg" />
                                    </a>
                                    <p class="shop-follow">
                                        <a class="follow-btn j_CollectBrand" data-brandid="3506680" href="#" hideFocus="true"><i class="mui-iconfont mui-global-iconfont">&#x3449;</i><span>关注</span><b></b></a>
                                    </p>
                                    <p class="follow-count"><em class="j_CollectBrandNum" data-brandid="3506680">2038960</em></p>
                                    <p class="follow-tip">关注</p>
                                </div>
                                <div class="bd">
                                    <div data-spm="d4918101" class="shop-rate">
                                        <h4>店铺动态评分<!--盟主aaa-->
                        <span class="compare">与同行业相比</span>
                    </h4>
                                        <ul>
                                            <li>
                                                描述相符：
                                                <a target="_blank" href="http://rate.taobao.com/user-rate-UvFcYMmHyOmHGONTT.htm">
                                                    <em class="count" title="4.84384分">4.8</em>
                                                    <span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) ">
                                                                                                                    <b></b><em>2.93%</em>
                                                                                                            </span>
                                                </a>
                                            </li>
                                            <li>
                                                服务态度：
                                                <a target="_blank" href="http://rate.taobao.com/user-rate-UvFcYMmHyOmHGONTT.htm">
                                                    <em class="count" title="4.74496分">4.7</em>
                                                    <span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) ">
                                                                                                            <b class="fair"></b><em>--------</em>
                                                                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                发货速度：
                                                <a target="_blank" href="http://rate.taobao.com/user-rate-UvFcYMmHyOmHGONTT.htm">
                                                    <em class="count" title="4.7873分">4.7</em>
                                                    <span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) ">
                                                                                                            <b></b><em>1.16%</em>
                                                                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="extend">
                                        <h4 class="title">店铺服务</h4>
                                        <ul>
                                            <li class="shopkeeper">
                                                <label>掌　　柜：</label>
                                                <div class="right">
                                                    <a href="http://rate.taobao.com/user-rate-UvFcYMmHyOmHGONTT.htm" data-spm="d4918097">小米官方旗舰店</a>
                                                </div>
                                            </li>
                                            <li>
                                                <label>客　　服：</label>
                                                <div class="right">
                                                    <span class="J_WangWang ww-light ww-large" data-nick="%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97" data-tnick="%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%89%A6%E5%BA%97" data-encode="true" data-display="inline" data-icon="static"></span>
                                                </div>
                                            </li>
                                            <li>
                                                <label>
                                                    公 司 名：
                                                </label>
                                                <div class="right">
                                                    小米科技有限责任公司
                                                </div>
                                            </li>
                                            <li class="locus">
                                                <label>
                                                    所 在 地：
                                                </label>
                                                <div class="right">
                                                    北京
                                                </div>
                                            </li>
                                            <li>
                                                <label>工商执照：</label>
                                                <div class="right">
                                                    <a href="http://zhaoshang.mall.taobao.com/maintaininfo/liangzhao.htm?xid=d05d9e6324a811f4e2cb7918db4c88d3" class="tm-gsLink" target="_blank"><img width="20" height="22" src="http://assets.taobaocdn.com/app/marketing/xfile/national_emblem_light.png" alt=""></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="other">
                                        <a class="enter-shop" href="//xiaomi.tmall.com" data-spm="d4918105"><i></i><span>进店逛逛</span></a>
                                        <a id="xshop_collection_href" href="http://favorite.taobao.com/popup/add_collection.htm?id=104736810&itemid=104736810&itemtype=0&ownerid=d05d9e6324a811f4e2cb7918db4c88d3&scjjc=2" mercury:params="id=104736810&itemid=104736810&itemtype=0&ownerid=d05d9e6324a811f4e2cb7918db4c88d3" class="J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-width="440" data-height="260" data-closebtn="true">
                                            <i></i><span>收藏本店</span>
                                        </a>
                                    </div>
                                </div>
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="header-extra">
                    <div id="mallSearch" class="mall-search">
                        <form name="searchTop" action="http://list.tmall.com/search_product.htm" class="mallSearch-form">
                            <fieldset>
                                <legend>天猫搜索</legend>
                                <div class="mallSearch-input clearfix">
                                    <div class="defaultSearch">
                                        <input type="text" name="q" data-current="//xiaomi.tmall.com" accesskey="s" autocomplete="off" x-webkit-speech="" x-webkit-grammar="builtin:search" value="" id="mq">
                                        <button id="J_SearchBtn" type="submit">搜天猫
                                            <s></s>
                                        </button>
                                    </div>
                                    <button id="J_CurrShopBtn" class="currShopBtn" type="button">搜本店
                                        <s></s>
                                    </button>
                                    <input id="J_Type" type="hidden" name="type" value="p">
                                    <input id="J_MallSearchStyle" type="hidden" name="style" value="">
                                    <input id="J_Cat" type="hidden" name="cat" value="all">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <input id="J_ShopSearchUrl" type="hidden" value="//xiaomi.tmall.com" />
        </div>
        <script>
        TB.use("mod~global", function() {
            if (TB.Global && TB.Global.init) {
                TB.Global.init();
            }
        });
        </script>
        <!-- isFromPad: false -->
        <div class="tshop-psm-shop-ww-hover ">
            <div class="skin-box-content">
                <div class="skin-box-hd">
                    <!-- has1212DcPage:false -->
                    <!-- actitvityExist:false -->
                    <div class="WW">
                        <div class="img">
                            <span class="J_WangWang wangwang" data-nick="%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97" data-tnick="%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%89%A6%E5%BA%97" data-encode="true" data-display="inline"></span>
                        </div>
                    </div>
                    <div class="toTop tb-scrolling">
                        <div class="img"></div>
                    </div>
                </div>
                <div class="skin-box-bd">
                    <ul>
                        <li class="service-block first-block">
                            <!-- test: //xiaomi.tmall.com -->
                            <a class="shop-name" href="//xiaomi.tmall.com" rel="nofollow"><span>小米官方旗舰店</span></a>
                            <span class="J_WangWang wangwang" data-nick="%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97" data-tnick="%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%89%A6%E5%BA%97" data-encode="true" data-display="inline"></span>
                        </li>
                        <li class="service-block">
                            <h4>在线客服</h4>
                            <ul class="service-content wws" data-gnick="%D0%A1%C3%D7%B9%D9%B7%BD%C6%EC%BD%A2%B5%EA" data-nick="%E5%B0%8F%E7%B1%B3%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97" data-group-filter="150169604" data-url="//osdsc.alicdn.com//taesite/TB1o3gdHpXXXXaNXXXXUxnn4FXX.groupmember|var^groupMember;sign^2627f9f34e055e1f0144a6f49687480d;lang^gbk;t^1431865187000">
                            </ul>
                            <div class="more-WW">
                                <span>更多</span>
                                <i class="triangle"></i>
                            </div>
                        </li>
                        <li class="service-block">
                            <h4>工作时间</h4>
                            <ul class="service-content">
                                <li><span class="date">周一至周日</span>：<span class="time">9:00-21:00</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script>
        if (window.TShop && window.TShop.ModUtil) {
            KISSY.ready(function() {
                TShop.use('mod~ww-hover', function(TS) {
                    new TS.TshopPsmShopWwHover({
                        mod: KISSY.DOM.get('.tshop-psm-shop-ww-hover')
                    });
                });
            });
        }
        </script>
        {{!-- border 我添加上去的 --}}
        <div style="border: 0px dashed red; display: -webkit-box; min-height: 1000px">
            <div id="content" class="eshop head-expand tb-shop">
                {{!-- ===================================
                    天猫店铺的内容区域
                =============================== --}}
                {{{body}}}
            </div>    
        </div>
        
        <div id="copyright">
            <div class="shop-info">
                <!--401632103,1-->
                <a target="_blank" class="version" href="//wangpu.taobao.com/wangpu/comparation.htm">
                    <img src="//gdp.alicdn.com/tps/i3/TB1ZtqIGVXXXXX_XFXXW7_A_FXX-113-21.png" alt="2012新版旺铺">
                </a>
                <span class="designer">店铺设计：<a target="_blank"
                                                           href="//zxn.taobao.com/detail.htm?id=35253844">junezx</a></span>
            </div>
            <p class="J_TShowForSeller" style="display:none;">
            </p>
        </div>
    </div>
    <div id="footer" data-spm="a2226n1">
        <div class="mui-global-footer-lazy" lazytms-cfg="{'initMod':'mui/lazytms','tmsId':'rgn/3c/footer-static.php'}">
        </div>
        <div id="server-num">shopsystem010179024063.s.et2</div>
    </div>
    </div>
    <!-- foot script -->
    <script>
    window.g_config = window.g_config || {};
    if (KISSY.version < '1.40') {
        KISSY.config({
            modules: {
                "mui/view-port-listen": {
                    "requires": [
                        'base',
                        'node'
                    ],
                    "path": 'mui/view-port-listen/1.0.3/index.js'
                }
            }
        });
    }
    window.g_config.globalSeedVersion = '1.0.90';
    window.g_config.globalModuleVersion = '1.3.30';
    </script>
    </div>
    <div id="LineZing" pagetype="1" shopid="104736810" pageid="879252718"></div>
    <script>
    (function() {
        var doc = document,
            con = doc.getElementById('content') || doc,
            as = con.getElementsByTagName('a'),
            len = as.length,
            i = 0,
            a,
            SPECIALS = /([.\/?])/g,
            unsafeUrls = [
                'member1.taobao.com/member/loginByIm.do',
                'jp.rd.yahoo.com/SIG=10uaccr0v/D=maps/Y=YAHOO/EXP=1288992407/',
                'fandiaoyu.taobao.com',
                'ecrm.taobao.com/shopbonusapply/388004062/../buyer_apply_result.htm'
            ],
            REG = new RegExp('(' + unsafeUrls.join(')|(').replace(SPECIALS, '\\$1') + ')');

        for (; i < len; ++i) {
            a = as[i];
            if (REG.test(a.href)) {
                a.href = '#';
            }
        }
    })();
    </script>
    <script src="//g.alicdn.com/tm/tbs-try/1.3.5/mods/posttry.js"></script>
</body>
<!--2012-09-12 推送做宝贝分类高亮 -->

</html>
