<style type="text/css">
#hd {
    background: url('/image/hd/hd-bg.png') repeat-x center 0;
}
</style>
<div id="hd">
    <div class="layout grid-m J_TLayout" data-widgetid="8749712183" data-componentid="23" data-prototypeid="23" data-id="8749712183" data-max="">
        <div class="col-main">
            <div class="main-wrap J_TRegion" data-modules="main" data-width="h950" data-max="">
                <div class="J_TModule" data-widgetid="8749713993" id="shop8749713993" data-componentid="9973488" data-spm='110.0.9973488-8749713993' microscope-data='9973488-8749713993' data-title="店招模块">
                    <div class="tb-module tshop-um tshop-um-topbanner">
                        <div class="headcd" style="height:125px;"></div>
                        <div class="topbanner" style="height:150px;">
                            <a class="logo abs" href="http://xiaomi.tmall.com/" target="_blank" style="display:block;top:18px;">
                                <img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i3/1714128138/TB2_MYDaFXXXXbeXXXXXXXXXXXX-1714128138.jpg" />
                            </a>
                            <a class="j_CollectBrand ui-brand-btn abs" style="top:38px;left:80px;display:block;width:62px;height:21px;background:url(//gdp.alicdn.com/L1/142/414199356/modules/tshop-um-topbanner/assets/images/guanzhu.png);border-radius:0px;" data-brandid="0" href="#"></a>
                            <em class="j_CollectBrandNum abs" data-brandid="0" style="height:17px;color:#515151;line-height:17px;font-family:tahoma;top:62px;left:88px;font-weight:bold;"></em>
                            <div class="navs abs" style="left:0px;top:120px;width:990px;">
                                <a href="" class="navlist navlist1" target="_blank" style="height:30px;line-height:30px;font-family:微软雅黑;">
                                    <span style="color:#EEE;background:#e51c24;height:30px;line-height:30px;font-size:14px;color:#FFF;background:#e51c24;padding:0 18px;width:170px;" class="defaultspan">本店全部商品</span>
                                    <span style="color:#FFF;background:#333;height:30px;line-height:30px;font-size:14px;color:#FFF;background:#e51c24;padding:0 18px;width:170px;" class="hoverspan">本店全部商品</span>
                                    <span style="height:1px;line-height:30px;padding:0 18px;width:170px;" class="hoverspan">本店全部商品</span>
                                </a>
                                <a href="" class="navlist navlist2" target="_blank" style="height:30px;line-height:30px;font-family:微软雅黑;">
                                    <span style="color:#EEE;background:#e51c24;height:30px;line-height:30px;font-size:14px;color:#EEE;background:#e51c24;padding:0 26px;" class="defaultspan">首页</span>
                                    <span style="color:#FFF;background:#333;height:30px;line-height:30px;font-size:14px;color:#FFF;background:#000;padding:0 26px;" class="hoverspan">首页</span>
                                    <span style="height:1px;line-height:30px;padding:0 26px;" class="hoverspan">首页</span>
                                </a>
                                <a href="" class="navlist navlist3" target="_blank" style="height:30px;line-height:30px;font-family:微软雅黑;">
                                    <span style="color:#EEE;background:#e51c24;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="defaultspan">喜悦孕育</span>
                                    <span style="color:#FFF;background:#333;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="hoverspan">喜悦孕育</span>
                                    <span style="height:1px;line-height:30px;padding:0 26px;" class="hoverspan">喜悦孕育</span>
                                </a>
                                <a href="" class="navlist navlist4" target="_blank" style="height:30px;line-height:30px;font-family:微软雅黑;">
                                    <span style="color:#EEE;background:#e51c24;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="defaultspan">一朝分娩</span>
                                    <span style="color:#FFF;background:#333;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="hoverspan">一朝分娩</span>
                                    <span style="height:1px;line-height:30px;padding:0 26px;" class="hoverspan">一朝分娩</span>
                                </a>
                                <a href="" class="navlist navlist5" target="_blank" style="height:30px;line-height:30px;font-family:微软雅黑;">
                                    <span style="color:#EEE;background:#e51c24;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="defaultspan">新手妈妈</span>
                                    <span style="color:#FFF;background:#333;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="hoverspan">新手妈妈</span>
                                    <span style="height:1px;line-height:30px;padding:0 26px;" class="hoverspan">新手妈妈</span>
                                </a>
                                <a href="" class="navlist navlist6" target="_blank" style="height:30px;line-height:30px;font-family:微软雅黑;">
                                    <span style="color:#EEE;background:#e51c24;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="defaultspan">生活体验</span>
                                    <span style="color:#FFF;background:#333;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="hoverspan">生活体验</span>
                                    <span style="height:1px;line-height:30px;padding:0 26px;" class="hoverspan">生活体验</span>
                                </a>
                                <a href="" class="navlist navlist7" target="_blank" style="height:30px;line-height:30px;font-family:微软雅黑;">
                                    <span style="color:#EEE;background:#e51c24;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="defaultspan">当期活动</span>
                                    <span style="color:#FFF;background:#333;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="hoverspan">当期活动</span>
                                    <span style="height:1px;line-height:30px;padding:0 26px;" class="hoverspan">当期活动</span>
                                </a>
                                <a href="" class="navlist navlist7" target="_blank" style="height:30px;line-height:30px;font-family:微软雅黑;">
                                    <span style="color:#EEE;background:#e51c24;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="defaultspan">品牌故事</span>
                                    <span style="color:#FFF;background:#333;height:30px;line-height:30px;font-size:14px;padding:0 26px;" class="hoverspan">品牌故事</span>
                                    <span style="height:1px;line-height:30px;padding:0 26px;" class="hoverspan">品牌故事</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bd" style="min-height: 400px">
    ??
</div>

<style type="text/css">
    #ft{
        width: auto;
        background: url('/image/hd/ft-bg.png') repeat-x center 0;
    }
</style>

<div id="ft">
    <div class="layout grid-m J_TLayout" data-widgetid="8749712184" data-componentid="33" data-prototypeid="33" data-id="8749712184" data-max="">
        <div class="col-main">
            <div class="main-wrap J_TRegion" data-modules="main" data-width="f950" data-max="">
                <div class="J_TModule" data-widgetid="8749833435" id="shop8749833435" data-componentid="9973617" data-spm='110.0.9973617-8749833435' microscope-data='9973617-8749833435' data-title="页尾模块">
                    <!-- cache-info: componentId=9973617 cacheKey=i-8749833435-0 cachedTime=2015-05-17 17:09:37 putHost=sitemisc010179121159.s.et2 expireTime=14400 -->
                    <div class="tb-module tshop-um tshop-um-yewei">
                        <div class="yeweibox" style="width:990px;height:200px; padding: 50px">
                            <div class="wbox" style="">
                                <div class="rel" data-title="power by junezx 2.0" style="position:relative;overflow:hidden;width:990px;height:176px;background:url('/image/hd/ft-content.png') 50% 0% no-repeat scroll;margin:0 auto;left:0px;" data-rn="agvPP">
                                    
                                    <a class="jdb abs app78169862-6518" href="" target="_blank" style="display:block;width:200px;height:170px;top:0px;left:50px;z-index:10;" data-linkmode="ptlink" data-appid="app78169862-6518"></a>
                                    
                                    <a class="jdb abs app30372351-7602" href="" target="_blank" style="display:block;width:200px;height:170px;top:0px;left:280px;z-index:10" data-linkmode="ptlink" data-appid="app30372351-7602"></a>
                                    
                                    <a class="jdb abs agvPP-rJXK" href="" target="_blank" style="display:block;width:200px;height:170px;top:0px;left:515px;z-index:10" data-linkmode="ptlink" data-appid="agvPP-rJXK"></a>
                                    
                                    <a class="jdb abs agvPP-OIuu" href="" target="_blank" style="display:block;width:200px;height:170px;top:0px;left:745px;z-index:10" data-linkmode="ptlink" data-appid="agvPP-OIuu"></a>
                                </div>
                            </div>
                        </div>

                        <div></div>
                        {{!-- 头部js 组件的操作 --}}
                        <div class="J_TWidget hidden xialastyle3 xialastyle4" data-widget-type="Popup" data-widget-config="{&#10;&#13;  'trigger':'.navlist1',&#10;&#13;    'align':{&#10;&#13;     'node':'.navlist1',&#10;&#13;       'offset':[0,0],'points':['bl','tl'] }&#10;&#13; }" style="">
                            <div class="outbox" style="width:500px;">
                                <div style="width:480px;margin:10px;float:left;padding-bottom:10px;">
                                    <ul class="hoverlist">
                                        <li class="zhufenlei"><a target="_blank" href="http://xiaomi.tmall.com/category-758269336.htm?search=y&catName=%D0%C2%C6%B7%C9%CF%BC%DC">新品上架</a></li>
                                        <li>
                                            <a target="_blank" href="http://xiaomi.tmall.com/category-null.htm?search=y&catName=null"></a>
                                        </li>
                                    </ul>
                                    <ul class="hoverlist">
                                        <li class="zhufenlei"><a target="_blank" href="http://xiaomi.tmall.com/category-758144452.htm?search=y&catName=%B9%BA%C2%F2%CA%D6%BB%FA">购买手机</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1035631497.htm?search=y&catName=%D0%A1%C3%D7Note&parentCatId=758144452&parentCatName=%B9%BA%C2%F2%CA%D6%BB%FA">小米Note</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-975880967.htm?search=y&catName=%D0%A1%C3%D7%CA%D6%BB%FA4&parentCatId=758144452&parentCatName=%B9%BA%C2%F2%CA%D6%BB%FA">小米手机4</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1030903704.htm?search=y&catName=%BA%EC%C3%D7%CA%D6%BB%FA2&parentCatId=758144452&parentCatName=%B9%BA%C2%F2%CA%D6%BB%FA">红米手机2</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-915353370.htm?search=y&catName=%BA%EC%C3%D7Note&parentCatId=758144452&parentCatName=%B9%BA%C2%F2%CA%D6%BB%FA">红米Note</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1069970086.htm?search=y&catName=%D0%A1%C3%D7%CA%D6%BB%FA%CF%B5%C1%D0&parentCatId=758144452&parentCatName=%B9%BA%C2%F2%CA%D6%BB%FA">小米手机系列</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1069970087.htm?search=y&catName=%BA%EC%C3%D7%CA%D6%BB%FA%CF%B5%C1%D0&parentCatId=758144452&parentCatName=%B9%BA%C2%F2%CA%D6%BB%FA">红米手机系列</a></li>
                                    </ul>
                                    <ul class="hoverlist">
                                        <li class="zhufenlei"><a target="_blank" href="http://xiaomi.tmall.com/category-1000436056.htm?search=y&catName=%B9%BA%C2%F2%B5%E7%CA%D3%D3%EB%C6%BD%B0%E5">购买电视与平板</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006664065.htm?search=y&catName=%D0%A1%C3%D7%B5%E7%CA%D32&parentCatId=1000436056&parentCatName=%B9%BA%C2%F2%B5%E7%CA%D3%D3%EB%C6%BD%B0%E5">小米电视2</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006664066.htm?search=y&catName=%D0%A1%C3%D7%C6%BD%B0%E5&parentCatId=1000436056&parentCatName=%B9%BA%C2%F2%B5%E7%CA%D3%D3%EB%C6%BD%B0%E5">小米平板</a></li>
                                    </ul>
                                    <ul class="hoverlist">
                                        <li class="zhufenlei"><a target="_blank" href="http://xiaomi.tmall.com/category-1006717152.htm?search=y&catName=%C2%B7%D3%C9%C6%F7%D3%EB%D6%C7%C4%DC%D3%B2%BC%FE">路由器与智能硬件</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006717153.htm?search=y&catName=%D0%A1%C3%D7%C2%B7%D3%C9%C6%F7&parentCatId=1006717152&parentCatName=%C2%B7%D3%C9%C6%F7%D3%EB%D6%C7%C4%DC%D3%B2%BC%FE">小米路由器</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1019498835.htm?search=y&catName=%BF%D5%C6%F8%BE%BB%BB%AF%C6%F7&parentCatId=1006717152&parentCatName=%C2%B7%D3%C9%C6%F7%D3%EB%D6%C7%C4%DC%D3%B2%BC%FE">空气净化器</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1020074025.htm?search=y&catName=%D6%C7%C4%DC%B2%E5%D7%F9&parentCatId=1006717152&parentCatName=%C2%B7%D3%C9%C6%F7%D3%EB%D6%C7%C4%DC%D3%B2%BC%FE">智能插座</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006771833.htm?search=y&catName=%D0%A1%C3%D7%CA%D6%BB%B7&parentCatId=1006717152&parentCatName=%C2%B7%D3%C9%C6%F7%D3%EB%D6%C7%C4%DC%D3%B2%BC%FE">小米手环</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-758269336.htm?search=y&catName=%D0%C2%C6%B7%C9%CF%BC%DC">新品上架</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-758269336.htm?search=y&catName=%D0%C2%C6%B7%C9%CF%BC%DC">新品上架</a></li>
                                    </ul>
                                    <ul class="hoverlist">
                                        <li class="zhufenlei"><a target="_blank" href="http://xiaomi.tmall.com/category-1006729760.htm?search=y&catName=%D3%B0%D2%F4%B5%E7%C6%F7">影音电器</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006729761.htm?search=y&catName=%D0%A1%C3%D7%BA%D0%D7%D3&parentCatId=1006729760&parentCatName=%D3%B0%D2%F4%B5%E7%C6%F7">小米盒子</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1037210944.htm?search=y&catName=%D0%A1%D2%CF%C9%E3%CF%F1%CD%B7&parentCatId=1006729760&parentCatName=%D3%B0%D2%F4%B5%E7%C6%F7">小蚁摄像头</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006729762.htm?search=y&catName=%B6%FA%BB%FA&parentCatId=1006729760&parentCatName=%D3%B0%D2%F4%B5%E7%C6%F7">耳机</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006729763.htm?search=y&catName=%D2%F4%CF%E4&parentCatId=1006729760&parentCatName=%D3%B0%D2%F4%B5%E7%C6%F7">音箱</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006729764.htm?search=y&catName=%D2%A3%BF%D8%C6%F7&parentCatId=1006729760&parentCatName=%D3%B0%D2%F4%B5%E7%C6%F7">遥控器</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006729765.htm?search=y&catName=%CF%DF%B2%C4&parentCatId=1006729760&parentCatName=%D3%B0%D2%F4%B5%E7%C6%F7">线材</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006759808.htm?search=y&catName=3D%D1%DB%BE%B5&parentCatId=1006729760&parentCatName=%D3%B0%D2%F4%B5%E7%C6%F7">3D眼镜</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006762245.htm?search=y&catName=%B6%FA%BB%FA%C8%C6%CF%DF%C6%F7&parentCatId=1006729760&parentCatName=%D3%B0%D2%F4%B5%E7%C6%F7">耳机绕线器</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1035726458.htm?search=y&catName=%D0%A1%C3%D7%D3%CE%CF%B7%C0%B6%D1%C0%CA%D6%B1%FA&parentCatId=1006729760&parentCatName=%D3%B0%D2%F4%B5%E7%C6%F7">小米游戏蓝牙手柄</a></li>
                                    </ul>
                                    <ul class="hoverlist" style="clear:both;">
                                        <li class="zhufenlei"><a target="_blank" href="http://xiaomi.tmall.com/category-1006726134.htm?search=y&catName=%D2%C6%B6%AF%B5%E7%D4%B4%D3%EB%B5%E7%B3%D8">移动电源与电池</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006726135.htm?search=y&catName=%D2%C6%B6%AF%B5%E7%D4%B4&parentCatId=1006726134&parentCatName=%D2%C6%B6%AF%B5%E7%D4%B4%D3%EB%B5%E7%B3%D8">移动电源</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006726136.htm?search=y&catName=%CA%D6%BB%FA%B5%E7%B3%D8&parentCatId=1006726134&parentCatName=%D2%C6%B6%AF%B5%E7%D4%B4%D3%EB%B5%E7%B3%D8">手机电池</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006726137.htm?search=y&catName=%B3%E4%B5%E7%C6%F7&parentCatId=1006726134&parentCatName=%D2%C6%B6%AF%B5%E7%D4%B4%D3%EB%B5%E7%B3%D8">充电器</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006726138.htm?search=y&catName=%CF%DF%B2%C4%2F%CA%FD%BE%DD%CF%DF&parentCatId=1006726134&parentCatName=%D2%C6%B6%AF%B5%E7%D4%B4%D3%EB%B5%E7%B3%D8">线材/数据线</a></li>
                                    </ul>
                                    <ul class="hoverlist">
                                        <li class="zhufenlei"><a target="_blank" href="http://xiaomi.tmall.com/category-1064759726.htm?search=y&catName=%BE%BB%BB%AF%C6%F7%D3%EB%C2%CB%D0%BE">净化器与滤芯</a></li>
                                        <li>
                                            <a target="_blank" href="http://xiaomi.tmall.com/category-null.htm?search=y&catName=null"></a>
                                        </li>
                                    </ul>
                                    <ul class="hoverlist">
                                        <li class="zhufenlei"><a target="_blank" href="http://xiaomi.tmall.com/category-1006772723.htm?search=y&catName=%B1%A3%BB%A4%CC%D7%D3%EB%CC%F9%C4%A4">保护套与贴膜</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006772724.htm?search=y&catName=%B1%A3%BB%A4%CC%D7%2F%B1%A3%BB%A4%BF%C7&parentCatId=1006772723&parentCatName=%B1%A3%BB%A4%CC%D7%D3%EB%CC%F9%C4%A4">保护套/保护壳</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006772725.htm?search=y&catName=%CC%F9%C4%A4&parentCatId=1006772723&parentCatName=%B1%A3%BB%A4%CC%D7%D3%EB%CC%F9%C4%A4">贴膜</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006772726.htm?search=y&catName=%B9%D2%C9%FE&parentCatId=1006772723&parentCatName=%B1%A3%BB%A4%CC%D7%D3%EB%CC%F9%C4%A4">挂绳</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006772727.htm?search=y&catName=%CC%F9%D6%BD&parentCatId=1006772723&parentCatName=%B1%A3%BB%A4%CC%D7%D3%EB%CC%F9%C4%A4">贴纸</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1017282412.htm?search=y&catName=%D6%A7%BC%DC&parentCatId=1006772723&parentCatName=%B1%A3%BB%A4%CC%D7%D3%EB%CC%F9%C4%A4">支架</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1017288644.htm?search=y&catName=%B7%C0%B3%BE%C8%FB&parentCatId=1006772723&parentCatName=%B1%A3%BB%A4%CC%D7%D3%EB%CC%F9%C4%A4">防尘塞</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1064767101.htm?search=y&catName=%BA%F3%B8%C7&parentCatId=1006772723&parentCatName=%B1%A3%BB%A4%CC%D7%D3%EB%CC%F9%C4%A4">后盖</a></li>
                                    </ul>
                                    <ul class="hoverlist">
                                        <li class="zhufenlei"><a target="_blank" href="http://xiaomi.tmall.com/category-807809446.htm?search=y&catName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">小米生活方式</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1006713676.htm?search=y&catName=%C3%D7%CD%C3%CD%E6%C5%BC&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">米兔玩偶</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1022879326.htm?search=y&catName=LED%CB%E6%C9%ED%B5%C6&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">LED随身灯</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-807818185.htm?search=y&catName=%D0%A1%C3%D7T%D0%F4&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">小米T恤</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-807818186.htm?search=y&catName=%B1%B3%B0%FC%2F%C7%AE%B0%FC%2F%D1%FC%B0%FC&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">背包/钱包/腰包</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-825347926.htm?search=y&catName=%B4%A5%C6%C1%CA%D6%CC%D7&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">触屏手套</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-825347927.htm?search=y&catName=%CA%F3%B1%EA%B5%E6&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">鼠标垫</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-825347976.htm?search=y&catName=%C0%F1%C6%B7%B4%FC&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">礼品袋</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-857677973.htm?search=y&catName=%CB%E6%C9%ED%B1%AD&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">随身杯</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-912166951.htm?search=y&catName=%D4%BF%B3%D7%BF%DB&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">钥匙扣</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-913933563.htm?search=y&catName=%D0%A1%C3%D7%C6%CB%BF%CB%C5%C6&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">小米扑克牌</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-917929789.htm?search=y&catName=%B9%D2%CA%CE&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">挂饰</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1064779551.htm?search=y&catName=%CA%D6%BB%FA%D7%D4%C5%C4%B8%CB&parentCatId=807809446&parentCatName=%D0%A1%C3%D7%C9%FA%BB%EE%B7%BD%CA%BD">手机自拍杆</a></li>
                                    </ul>
                                    <ul class="hoverlist">
                                        <li class="zhufenlei"><a target="_blank" href="http://xiaomi.tmall.com/category-808926898.htm?search=y&catName=%B0%B4%BB%FA%D0%CD%D1%A1%C5%E4%BC%FE">按机型选配件</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1035630390.htm?search=y&catName=%D0%A1%C3%D7Note%C5%E4%BC%FE&parentCatId=808926898&parentCatName=%B0%B4%BB%FA%D0%CD%D1%A1%C5%E4%BC%FE">小米Note配件</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-954216958.htm?search=y&catName=%D0%A1%C3%D7%CA%D6%BB%FA4%C5%E4%BC%FE&parentCatId=808926898&parentCatName=%B0%B4%BB%FA%D0%CD%D1%A1%C5%E4%BC%FE">小米手机4配件</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-1030903705.htm?search=y&catName=%BA%EC%C3%D7%CA%D6%BB%FA2%C5%E4%BC%FE&parentCatId=808926898&parentCatName=%B0%B4%BB%FA%D0%CD%D1%A1%C5%E4%BC%FE">红米手机2配件</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-887554810.htm?search=y&catName=%BA%EC%C3%D7Note%C5%E4%BC%FE&parentCatId=808926898&parentCatName=%B0%B4%BB%FA%D0%CD%D1%A1%C5%E4%BC%FE">红米Note配件</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-941815533.htm?search=y&catName=%D0%A1%C3%D7%C6%BD%B0%E5%C5%E4%BC%FE&parentCatId=808926898&parentCatName=%B0%B4%BB%FA%D0%CD%D1%A1%C5%E4%BC%FE">小米平板配件</a></li>
                                        <li><a target="_blank" href="http://xiaomi.tmall.com/category-808926899.htm?search=y&catName=%D0%A1%C3%D7%CA%D6%BB%FA3%C5%E4%BC%FE&parentCatId=808926898&parentCatName=%B0%B4%BB%FA%D0%CD%D1%A1%C5%E4%BC%FE">小米手机3配件</a></li>
                                    </ul>
                                </div>
                                <div style="clear:both;width:590px;">
                                </div>
                            </div>
                        </div>
                        <div class="J_TWidget hidden xialastyle2" data-widget-type="Popup" data-widget-config="{&#10;&#13;  'trigger':'.navlist3',&#10;&#13;    'align':{&#10;&#13;     'node':'.navlist2',&#10;&#13;       'offset':[15,0],'points':['bl','tl']    }&#10;&#13; }" style="width:991px;background:none;margin-top:-4px;margin-left:-15px;">
                            <div class="outbox" style="width:991px;background:none;margin-top:-4px;margin-left:-15px;">
                                <div class="rel" data-title="power by junezx 2.0" style="position:relative;overflow:hidden;width:991px;height:204px;background:url(//gdp.alicdn.com/imgextra/i3/1714128138/TB2mbJDcFXXXXbvXXXXXXXXXXXX-1714128138.png) 50% 0% repeat scroll;left:-0.5px;" data-rn="abRcD">
                                    <a class="jdb abs app83975539-94" href="http://xiaomi.tmall.com/p/rd610408.htm?scene=taobao_shop" target="_blank" style="display:block;width:486px;height:191px;top:13px;left:0px;z-index:10;" data-linkmode="ptlink" data-appid="app83975539-94"></a>
                                    <a class="jdb abs app83978228-8874" href="http://xiaomi.tmall.com/p/rd914356.htm?scene=taobao_shop" target="_blank" style="display:block;width:487px;height:189px;top:15px;left:504px;z-index:10;" data-linkmode="ptlink" data-appid="app83978228-8874"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>