
  <div id="bd"> 
   <div class="layout grid-m0 J_TLayout" data-widgetid="11684753851" data-componentid="231" data-context="bd" data-prototypeid="231" data-id="11684753851" data-sitecategory=""> 
    <div class="col-main"> 
     <div class="main-wrap J_TRegion" data-modules="main" style="overflow:visible;" data-width="b950"> 
      <div class="J_TModule" data-widgetid="11684753852" id="shop11684753852" data-componentid="5003" data-spm="110.0.5003-11684753852" microscope-data="5003-11684753852" data-title="自定义内容区" data-spm-max-idx="46">
       <!-- cache-info: componentId=5003 cacheKey=i-11684753852-20141218 cachedTime=2015-07-19 17:36:15 putHost=shopsystem010179024047.s.et2 expireTime=14400 --> 
       <div class="skin-box tb-module tshop-pbsm tshop-pbsm-shop-self-defined"> 
        <div class="skin-box-bd clear-fix">  
          <div class="rel" data-title="power by junezx 2.0" style="position:relative;overflow:hidden;width:1920px;height:909px;margin-left:50%;left:-960px;" data-rn="aHl6X">
           <a class="jdb abs akA7a-fVPC" target="_blank" style="background:url(//gdp.alicdn.com/imgextra/i1/1714128138/TB23VqodVXXXXagXpXXXXXXXXXX-1714128138.jpg) 50% 50% no-repeat;display:block;width:1920px;height:909px;left:0px;z-index:10;" data-linkmode="ptlink" data-appid="akA7a-fVPC"></a>

           <a class="jdb abs akA7a-B3Nr" href="//detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-11684753852.30.2dBhPN&amp;id=41801210549&amp;scene=taobao_shop" target="_blank" style="display:block;width:224px;height:435px;left:479px;z-index:10;" data-linkmode="ptlink" data-appid="akA7a-B3Nr" data-spm-wangpu-module-id="5003-11684753852" data-spm-anchor-id="a1z10.1-b.w5003-11684753852.30"></a>

           <a class="jdb abs akA7a-tLfk" href="//detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-11684753852.31.2dBhPN&amp;id=40491073692&amp;scene=taobao_shop" target="_blank" style="display:block;width:234px;height:431px;left:716px;z-index:10;" data-linkmode="ptlink" data-appid="akA7a-tLfk" data-spm-wangpu-module-id="5003-11684753852" data-spm-anchor-id="a1z10.1-b.w5003-11684753852.31"></a>
           <a class="jdb abs akA7a-BS0q" href="//detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-11684753852.32.2dBhPN&amp;id=43705393269&amp;scene=taobao_shop" target="_blank" style="display:block;width:221px;height:438px;left:962px;z-index:10;" data-linkmode="ptlink" data-appid="akA7a-BS0q" data-spm-wangpu-module-id="5003-11684753852" data-spm-anchor-id="a1z10.1-b.w5003-11684753852.32"></a>
           <a class="jdb abs akA7a-d16M" href="//detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-11684753852.33.2dBhPN&amp;id=44506343547&amp;scene=taobao_shop" target="_blank" style="display:block;width:216px;height:430px;left:1207px;z-index:10;" data-linkmode="ptlink" data-appid="akA7a-d16M" data-spm-wangpu-module-id="5003-11684753852" data-spm-anchor-id="a1z10.1-b.w5003-11684753852.33"></a>
           <a class="jdb abs akA7a-rsSY" href="//detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-11684753852.34.2dBhPN&amp;id=42914113596&amp;scene=taobao_shop" target="_blank" style="display:block;width:216px;height:435px;top:460px;left:479px;z-index:10;" data-linkmode="ptlink" data-appid="akA7a-rsSY" data-spm-wangpu-module-id="5003-11684753852" data-spm-anchor-id="a1z10.1-b.w5003-11684753852.34"></a>
           <a class="jdb abs akA7a-p7Wp" href="//xiaomi.tmall.com/p/rd513271.htm?spm=a1z10.1-b.w5003-11684753852.35.2dBhPN&amp;scene=taobao_shop" target="_blank" style="display:block;width:221px;height:433px;top:460px;left:723px;z-index:10;" data-linkmode="ptlink" data-appid="akA7a-p7Wp" data-spm-wangpu-module-id="5003-11684753852" data-spm-anchor-id="a1z10.1-b.w5003-11684753852.35"></a>
           <a class="jdb abs akA7a-wF6d" href="//xiaomi.tmall.com/p/rd513271.htm?spm=a1z10.1-b.w5003-11684753852.36.2dBhPN&amp;scene=taobao_shop" target="_blank" style="display:block;width:218px;height:436px;top:460px;left:965px;z-index:10;" data-linkmode="ptlink" data-appid="akA7a-wF6d" data-spm-wangpu-module-id="5003-11684753852" data-spm-anchor-id="a1z10.1-b.w5003-11684753852.36"></a>
           <a class="jdb abs akA7a-kYNj" href="//detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-11684753852.37.2dBhPN&amp;id=44752140073&amp;scene=taobao_shop" target="_blank" style="display:block;width:218px;height:433px;top:460px;left:1205px;z-index:10;" data-linkmode="ptlink" data-appid="akA7a-kYNj" data-spm-wangpu-module-id="5003-11684753852" data-spm-anchor-id="a1z10.1-b.w5003-11684753852.37"></a>
          </div>
        </div>
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div>
