<div id="bd">

    <div class="layout grid-m0 J_TLayout" data-widgetid="8972337479" data-componentid="231" data-context="bd" data-prototypeid="231" data-id="8972337479" data-sitecategory="">

        <div class="col-main">
            <div class="main-wrap J_TRegion" data-modules="main" style="overflow:visible;" data-width="b950">
                <div class="J_TModule" data-widgetid="8972337480" id="shop8972337480" data-componentid="10128820" data-spm='110.0.10128820-8972337480' microscope-data='10128820-8972337480' data-title="全屏轮播">
                    <!-- cache-info: componentId=10128820 cacheKey=i-8972337480-0 cachedTime=2015-07-19 11:53:27 putHost=shopsystem010176080054.n.et2 expireTime=14400 -->

                    <div class="tb-module tshop-um tshop-um-quanpinglunbo" style="margin-bottom:10px;">
                        <div class="bd" style="width:990px;left:0px;height:10844px;">
                            <div class="J_TWidget my_mm" style="width:990px;z-index:98;height:420px;display:none;" data-widget-type="Carousel" data-widget-config="{'easing':'easeOutStrong','interval':8,'navCls':'nav','prevBtnCls':'prev','contentCls':'main','autoplay':true,'nextBtnCls':'next','circular':true,'activeTriggerCls ':'ks-active','disableBtnCls':'disable','duration':0.9,'effect':'fade','delay':0.3,'triggerType':'mouse'}">
                                <div class="yinc" style="height:420px;width:1920px;margin-left:-960px;">
                                    <span class="prev prev3 J_TWidget" data-widget-type="Compatible" data-widget-config="{'png':true,'png_bg':true}" style="top:184px;left:398px;"></span><span class="next next3 J_TWidget" data-widget-type="Compatible" data-widget-config="{'png':true,'png_bg':true}" style="top:184px;right:398px;"></span>
                                    <div class="main" style="height:420px;">
                                        <div class="gd" style="height:420px;width:1920px;float:left;">
                                            <a class="gda" style="height:420px;background:url(//gdp.alicdn.com/L1/142/414199171/modules/tshop-um-quanpinglunbo/assets/images/lb1.jpg) top center no-repeat;" href="#" target="_blank"></a>
                                        </div>
                                        <div class="gd" style="height:420px;width:1920px;float:left;display:none;">
                                            <a class="gda" style="height:420px;background:url(//gdp.alicdn.com/L1/142/414199171/modules/tshop-um-quanpinglunbo/assets/images/lb2.jpg) top center no-repeat;" href="#" target="_blank"></a>
                                        </div>
                                        <div class="gd" style="height:420px;width:1920px;float:left;display:none;">
                                            <a class="gda" style="height:420px;background:url(//gdp.alicdn.com/L1/142/414199171/modules/tshop-um-quanpinglunbo/assets/images/lb3.jpg) top center no-repeat;" href="#" target="_blank"></a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav lumpsty alpha90" style="width:1920px;height:25px;margin-left:-960px;background:#FFF;bottom:0px;background:none;">
                                    <span class="lump ks-active"></span>
                                    <span class="lump"></span>
                                    <span class="lump"></span>
                                </ul>
                            </div>

                            <div class="lbpopupbox trans05s" style="width:250px;height:420px;left:0px;display:none;">
                                <div class="abs lbpopup" style="height:420px;width:250px;background:#FFF;display:none;">
                                    <div class="poplist pl0-853280" style="background:#FFF;border-width:1px;border-color:#DFDFDF;">
                                        <div class="hmenu" style="height:25px;line-height:25px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#FF4A00;">手机通讯</span><span class="a2" style="color:#FF4A00;">手机通讯</span></a>
                                        </div>
                                        <div class="cmenu" style="height:24px;line-height:24px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">手机</span><span class="a2" style="color:#333;">手机</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">对讲机</span><span class="a2" style="color:#333;">对讲机</span></a>
                                        </div>
                                        <div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.pl0-853280','align':{'node':'.pl0-853280','offset':[-1,0],'points':['tr','tl']}}" style="display:none;">
                                            <div class="rel" style="width:246px;font-family:微软雅黑;">
                                                <div class="abs phover" style="width:250px;left:-249px;background:#FAFAFA;width:246px;border-bottom:1px #DFDFDF solid;border-left:3px #FF4A00 solid;border-right:1px #DFDFDF solid;background:#FAFAFA;">
                                                    <div class="hmenu" style="height:25px;line-height:25px;margin-left:-2px;"><a class="a12" target="_blank" href="#"><span class="a1" style="color:#FF4A00;">手机通讯</span><span class="a2" style="color:#FF4A00;">手机通讯</span></a></div>
                                                    <div class="cmenu" style="height:24px;line-height:24px;margin-left:-2px;">
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">手机</span><span class="a2" style="color:#333;">手机</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">对讲机</span><span class="a2" style="color:#333;">对讲机</span></a>
                                                    </div>
                                                </div>
                                                <div class="popc" style="width:246px;">
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i1/39767794/TB2wHRPapXXXXXiXXXXXXXXXXXX_!!39767794.jpg"><span class="text">小米手机4</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i3/39767794/TB2Uz0IapXXXXcNXXXXXXXXXXXX_!!39767794.jpg"><span class="text">小米手机3</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB2l4dIapXXXXXqXpXXXXXXXXXX_!!39767794.jpg"><span class="text">红米1S</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB25SJGapXXXXa2XpXXXXXXXXXX_!!39767794.jpg"><span class="text">红米NOTE</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB2z6RNapXXXXaiXXXXXXXXXXXX_!!39767794.jpg"><span class="text">根据机型选配件</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="poplist pl1-575672" style="background:#FFF;border-width:1px;border-color:#DFDFDF;">
                                        <div class="hmenu" style="height:25px;line-height:25px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#FF4A00;">手机配件</span><span class="a2" style="color:#FF4A00;">手机配件</span></a>
                                        </div>
                                        <div class="cmenu" style="height:24px;line-height:24px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">电池</span><span class="a2" style="color:#333;">电池</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">蓝牙耳机</span><span class="a2" style="color:#333;">蓝牙耳机</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">充电器</span><span class="a2" style="color:#333;">充电器</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">数据线</span><span class="a2" style="color:#333;">数据线</span></a>
                                        </div>
                                        <div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.pl1-575672','align':{'node':'.pl1-575672','offset':[-1,0],'points':['tr','tl']}}" style="display:none;">
                                            <div class="rel" style="width:246px;font-family:微软雅黑;">
                                                <div class="abs phover" style="width:250px;left:-249px;background:#FAFAFA;width:246px;border-bottom:1px #DFDFDF solid;border-left:3px #FF4A00 solid;border-right:1px #DFDFDF solid;background:#FAFAFA;">
                                                    <div class="hmenu" style="height:25px;line-height:25px;margin-left:-2px;"><a class="a12" target="_blank" href="#"><span class="a1" style="color:#FF4A00;">手机配件</span><span class="a2" style="color:#FF4A00;">手机配件</span></a></div>
                                                    <div class="cmenu" style="height:24px;line-height:24px;margin-left:-2px;">
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">电池</span><span class="a2" style="color:#333;">电池</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">蓝牙耳机</span><span class="a2" style="color:#333;">蓝牙耳机</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">充电器</span><span class="a2" style="color:#333;">充电器</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">数据线</span><span class="a2" style="color:#333;">数据线</span></a>
                                                    </div>
                                                </div>
                                                <div class="popc" style="width:246px;">
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i3/39767794/TB2dyRIapXXXXXqXpXXXXXXXXXX_!!39767794.jpg"><span class="text">小米电视</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i3/39767794/TB2FpxHapXXXXaVXpXXXXXXXXXX_!!39767794.jpg"><span class="text">小米盒子</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB2IPXNapXXXXahXXXXXXXXXXXX_!!39767794.jpg"><span class="text">小米平板</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="poplist pl2-182394" style="background:#FFF;border-width:1px;border-color:#DFDFDF;">
                                        <div class="hmenu" style="height:25px;line-height:25px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#FF4A00;">摄影摄像</span><span class="a2" style="color:#FF4A00;">摄影摄像</span></a>
                                        </div>
                                        <div class="cmenu" style="height:24px;line-height:24px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">数码相机</span><span class="a2" style="color:#333;">数码相机</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">单电</span><span class="a2" style="color:#333;">单电</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">微单相机</span><span class="a2" style="color:#333;">微单相机</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">单反相机</span><span class="a2" style="color:#333;">单反相机</span></a>
                                        </div>
                                        <div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.pl2-182394','align':{'node':'.pl2-182394','offset':[-1,0],'points':['tr','tl']}}" style="display:none;">
                                            <div class="rel" style="width:246px;font-family:微软雅黑;">
                                                <div class="abs phover" style="width:250px;left:-249px;background:#FAFAFA;width:246px;border-bottom:1px #DFDFDF solid;border-left:3px #FF4A00 solid;border-right:1px #DFDFDF solid;background:#FAFAFA;">
                                                    <div class="hmenu" style="height:25px;line-height:25px;margin-left:-2px;"><a class="a12" target="_blank" href="#"><span class="a1" style="color:#FF4A00;">摄影摄像</span><span class="a2" style="color:#FF4A00;">摄影摄像</span></a></div>
                                                    <div class="cmenu" style="height:24px;line-height:24px;margin-left:-2px;">
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">数码相机</span><span class="a2" style="color:#333;">数码相机</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">单电</span><span class="a2" style="color:#333;">单电</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">微单相机</span><span class="a2" style="color:#333;">微单相机</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">单反相机</span><span class="a2" style="color:#333;">单反相机</span></a>
                                                    </div>
                                                </div>
                                                <div class="popc" style="width:246px;">
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i1/39767794/TB2wHRPapXXXXXiXXXXXXXXXXXX_!!39767794.jpg"><span class="text">小米手机4</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i3/39767794/TB2Uz0IapXXXXcNXXXXXXXXXXXX_!!39767794.jpg"><span class="text">小米手机3</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB2l4dIapXXXXXqXpXXXXXXXXXX_!!39767794.jpg"><span class="text">红米1S</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB25SJGapXXXXa2XpXXXXXXXXXX_!!39767794.jpg"><span class="text">红米NOTE</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB2z6RNapXXXXaiXXXXXXXXXXXX_!!39767794.jpg"><span class="text">根据机型选配件</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="poplist pl3-862997" style="background:#FFF;border-width:1px;border-color:#DFDFDF;">
                                        <div class="hmenu" style="height:25px;line-height:25px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#FF4A00;">数码配件</span><span class="a2" style="color:#FF4A00;">数码配件</span></a>
                                        </div>
                                        <div class="cmenu" style="height:24px;line-height:24px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">存储卡</span><span class="a2" style="color:#333;">存储卡</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">读卡器</span><span class="a2" style="color:#333;">读卡器</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">滤镜闪光灯</span><span class="a2" style="color:#333;">滤镜闪光灯</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">手柄</span><span class="a2" style="color:#333;">手柄</span></a>
                                        </div>
                                        <div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.pl3-862997','align':{'node':'.pl3-862997','offset':[-1,0],'points':['tr','tl']}}" style="display:none;">
                                            <div class="rel" style="width:246px;font-family:微软雅黑;">
                                                <div class="abs phover" style="width:250px;left:-249px;background:#FAFAFA;width:246px;border-bottom:1px #DFDFDF solid;border-left:3px #FF4A00 solid;border-right:1px #DFDFDF solid;background:#FAFAFA;">
                                                    <div class="hmenu" style="height:25px;line-height:25px;margin-left:-2px;"><a class="a12" target="_blank" href="#"><span class="a1" style="color:#FF4A00;">数码配件</span><span class="a2" style="color:#FF4A00;">数码配件</span></a></div>
                                                    <div class="cmenu" style="height:24px;line-height:24px;margin-left:-2px;">
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">存储卡</span><span class="a2" style="color:#333;">存储卡</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">读卡器</span><span class="a2" style="color:#333;">读卡器</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">滤镜闪光灯</span><span class="a2" style="color:#333;">滤镜闪光灯</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">手柄</span><span class="a2" style="color:#333;">手柄</span></a>
                                                    </div>
                                                </div>
                                                <div class="popc" style="width:246px;">
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i1/39767794/TB2wHRPapXXXXXiXXXXXXXXXXXX_!!39767794.jpg"><span class="text">小米手机4</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i3/39767794/TB2Uz0IapXXXXcNXXXXXXXXXXXX_!!39767794.jpg"><span class="text">小米手机3</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB2l4dIapXXXXXqXpXXXXXXXXXX_!!39767794.jpg"><span class="text">红米1S</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB25SJGapXXXXa2XpXXXXXXXXXX_!!39767794.jpg"><span class="text">红米NOTE</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB2z6RNapXXXXaiXXXXXXXXXXXX_!!39767794.jpg"><span class="text">根据机型选配件</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="poplist pl4-568561" style="background:#FFF;border-width:1px;border-color:#DFDFDF;">
                                        <div class="hmenu" style="height:25px;line-height:25px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#FF4A00;">时尚影音</span><span class="a2" style="color:#FF4A00;">时尚影音</span></a>
                                        </div>
                                        <div class="cmenu" style="height:24px;line-height:24px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">耳机</span><span class="a2" style="color:#333;">耳机</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">耳麦音箱</span><span class="a2" style="color:#333;">耳麦音箱</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">音响</span><span class="a2" style="color:#333;">音响</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">麦克风</span><span class="a2" style="color:#333;">麦克风</span></a>
                                        </div>
                                        <div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.pl4-568561','align':{'node':'.pl4-568561','offset':[-1,0],'points':['tr','tl']}}" style="display:none;">
                                            <div class="rel" style="width:246px;font-family:微软雅黑;">
                                                <div class="abs phover" style="width:250px;left:-249px;background:#FAFAFA;width:246px;border-bottom:1px #DFDFDF solid;border-left:3px #FF4A00 solid;border-right:1px #DFDFDF solid;background:#FAFAFA;">
                                                    <div class="hmenu" style="height:25px;line-height:25px;margin-left:-2px;"><a class="a12" target="_blank" href="#"><span class="a1" style="color:#FF4A00;">时尚影音</span><span class="a2" style="color:#FF4A00;">时尚影音</span></a></div>
                                                    <div class="cmenu" style="height:24px;line-height:24px;margin-left:-2px;">
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">耳机</span><span class="a2" style="color:#333;">耳机</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">耳麦音箱</span><span class="a2" style="color:#333;">耳麦音箱</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">音响</span><span class="a2" style="color:#333;">音响</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">麦克风</span><span class="a2" style="color:#333;">麦克风</span></a>
                                                    </div>
                                                </div>
                                                <div class="popc" style="width:246px;">
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i3/39767794/TB2dyRIapXXXXXqXpXXXXXXXXXX_!!39767794.jpg"><span class="text">小米电视</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i3/39767794/TB2FpxHapXXXXaVXpXXXXXXXXXX_!!39767794.jpg"><span class="text">小米盒子</span></a>
                                                    <a class="pclink" href="#" target="_blank"><img src="//assets.alicdn.com/s.gif" data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/39767794/TB2IPXNapXXXXahXXXXXXXXXXXX_!!39767794.jpg"><span class="text">小米平板</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="poplist pl5-357372" style="background:#FFF;border-width:1px;border-color:#DFDFDF;">
                                        <div class="hmenu" style="height:25px;line-height:25px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#FF4A00;">智能设备</span><span class="a2" style="color:#FF4A00;">智能设备</span></a>
                                        </div>
                                        <div class="cmenu" style="height:24px;line-height:24px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">智能手环</span><span class="a2" style="color:#333;">智能手环</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">智能手表</span><span class="a2" style="color:#333;">智能手表</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">智能眼镜</span><span class="a2" style="color:#333;">智能眼镜</span></a>
                                        </div>
                                        <div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.pl5-357372','align':{'node':'.pl5-357372','offset':[-1,0],'points':['tr','tl']}}" style="display:none;">
                                            <div class="rel" style="width:246px;font-family:微软雅黑;">
                                                <div class="abs phover" style="width:250px;left:-249px;background:#FAFAFA;width:246px;border-bottom:1px #DFDFDF solid;border-left:3px #FF4A00 solid;border-right:1px #DFDFDF solid;background:#FAFAFA;">
                                                    <div class="hmenu" style="height:25px;line-height:25px;margin-left:-2px;"><a class="a12" target="_blank" href="#"><span class="a1" style="color:#FF4A00;">智能设备</span><span class="a2" style="color:#FF4A00;">智能设备</span></a></div>
                                                    <div class="cmenu" style="height:24px;line-height:24px;margin-left:-2px;">
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">智能手环</span><span class="a2" style="color:#333;">智能手环</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">智能手表</span><span class="a2" style="color:#333;">智能手表</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">智能眼镜</span><span class="a2" style="color:#333;">智能眼镜</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="poplist pl6-660677" style="background:#FFF;border-width:1px;border-color:#DFDFDF;">
                                        <div class="hmenu" style="height:25px;line-height:25px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#FF4A00;">移动电源与电池</span><span class="a2" style="color:#FF4A00;">移动电源与电池</span></a>
                                        </div>
                                        <div class="cmenu" style="height:24px;line-height:24px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">移动电源</span><span class="a2" style="color:#333;">移动电源</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">电池</span><span class="a2" style="color:#333;">电池</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">充电器</span><span class="a2" style="color:#333;">充电器</span></a>
                                        </div>
                                        <div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.pl6-660677','align':{'node':'.pl6-660677','offset':[-1,0],'points':['tr','tl']}}" style="display:none;">
                                            <div class="rel" style="width:246px;font-family:微软雅黑;">
                                                <div class="abs phover" style="width:250px;left:-249px;background:#FAFAFA;width:246px;border-bottom:1px #DFDFDF solid;border-left:3px #FF4A00 solid;border-right:1px #DFDFDF solid;background:#FAFAFA;">
                                                    <div class="hmenu" style="height:25px;line-height:25px;margin-left:-2px;"><a class="a12" target="_blank" href="#"><span class="a1" style="color:#FF4A00;">移动电源与电池</span><span class="a2" style="color:#FF4A00;">移动电源与电池</span></a></div>
                                                    <div class="cmenu" style="height:24px;line-height:24px;margin-left:-2px;">
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">移动电源</span><span class="a2" style="color:#333;">移动电源</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">电池</span><span class="a2" style="color:#333;">电池</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">充电器</span><span class="a2" style="color:#333;">充电器</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="poplist pl7-553460" style="background:#FFF;border-width:1px;border-color:#DFDFDF;">
                                        <div class="hmenu" style="height:25px;line-height:25px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#FF4A00;">周边产品</span><span class="a2" style="color:#FF4A00;">周边产品</span></a>
                                        </div>
                                        <div class="cmenu" style="height:24px;line-height:24px;">
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">服饰</span><span class="a2" style="color:#333;">服饰</span></a>
                                            <a class="a12" href="#" target="_blank" style="font-family:微软雅黑;"><span class="a1" style="color:#333;">米兔玩偶</span><span class="a2" style="color:#333;">米兔玩偶</span></a>
                                        </div>
                                        <div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.pl7-553460','align':{'node':'.pl7-553460','offset':[-1,0],'points':['tr','tl']}}" style="display:none;">
                                            <div class="rel" style="width:246px;font-family:微软雅黑;">
                                                <div class="abs phover" style="width:250px;left:-249px;background:#FAFAFA;width:246px;border-bottom:1px #DFDFDF solid;border-left:3px #FF4A00 solid;border-right:1px #DFDFDF solid;background:#FAFAFA;">
                                                    <div class="hmenu" style="height:25px;line-height:25px;margin-left:-2px;"><a class="a12" target="_blank" href="#"><span class="a1" style="color:#FF4A00;">周边产品</span><span class="a2" style="color:#FF4A00;">周边产品</span></a></div>
                                                    <div class="cmenu" style="height:24px;line-height:24px;margin-left:-2px;">
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">服饰</span><span class="a2" style="color:#333;">服饰</span></a>
                                                        <a class="a12" href="#" target="_blank" style="margin-left:0px;"><span class="a1" style="color:#333;">米兔玩偶</span><span class="a2" style="color:#333;">米兔玩偶</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="my_mm customdiv" style="width:100%;z-index:98;height:170px;display:none;">
                                <div class="yinc" style="height:170px;width:1920px;margin-left:-960px;">
                                    <div class="pickgd" style="width:9999px;float:left;margin-left:715px;">
                                        <a class="rel" href="#" target="_blank" style="width:245.66666666667px;height:170px;border-color:#DFDFDF;background-image:url(//gdp.alicdn.com/L1/142/414199356/modules/tshop-um-quanpinglunbo/assets/images/k1.jpg);"></a>
                                        <a class="rel" href="#" target="_blank" style="width:245.66666666667px;height:170px;border-color:#DFDFDF;background-image:url(//gdp.alicdn.com/L1/142/414199356/modules/tshop-um-quanpinglunbo/assets/images/k2.jpg);"></a>
                                        <a class="rel" href="#" target="_blank" style="width:245.66666666667px;height:170px;border-color:#DFDFDF;background-image:url(//gdp.alicdn.com/L1/142/414199356/modules/tshop-um-quanpinglunbo/assets/images/k3.jpg);"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="my_mm customdiv" style="width:100%;z-index:98;height:391px;display:none;">
                                <div class="yinc" style="height:391px;width:1920px;margin-left:-960px;">
                                    <div class="J_TWidget gdbox" data-widget-type="Carousel" data-widget-config="{'effect': 'scrollx','easing': 'easeBoth','prevBtnCls': 'lprev','nextBtnCls':'lnext','contentCls':'gdcontent','autoplay':false,'duration':0.8,'viewSize': [989],'interval':5,'steps':3}" style="width:990px;left:465px;height:391px;overflow:hidden;">
                                        <div class="gdtitle" style="font-family:微软雅黑;">明星单品<font style="">定制您的专属喜爱</font><span style="" class="lprev abs"></span><span style="" class="lnext abs"></span></div>
                                        <div class="gdout" style="width:988px;height:329px;">
                                            <div class="gdcontent" style="height:329px;">
                                                <div class="gditem" style="float:left;height:310px;padding:9.5px;border-right:1px #DFDFDF solid;">
                                                    <a class="gdlink" target="_blank" href="#" style="height:320px;font-family:微软雅黑;background:url(//gdp.alicdn.com/imgextra/i4/39767794/TB2cw8maVXXXXcxXXXXXXXXXXXX_!!39767794.jpg_180x180.jpg) top center no-repeat;">
                                                        <div class="gditemtitle" style="">选择宝贝后此处将显示宝贝标题</div>
                                                        <div class="gditemftitle" style="">此处可以输入自定义宝贝副标题与宝贝对应</div>
                                                        <div class="gditemprice" style=""><font style="">688元</font> 338元</div>
                                                    </a>
                                                    <div class="gdborder">
                                                        <div class="gdt"></div>
                                                        <div class="gdb"></div>
                                                        <div class="gdl"></div>
                                                        <div class="gdr"></div>
                                                    </div>
                                                </div>
                                                <div class="gditem" style="float:left;height:310px;padding:9.5px;border-right:1px #DFDFDF solid;">
                                                    <a class="gdlink" target="_blank" href="#" style="height:320px;font-family:微软雅黑;background:url(//gdp.alicdn.com/imgextra/i2/39767794/TB24YlnaVXXXXcwXXXXXXXXXXXX_!!39767794.jpg_180x180.jpg) top center no-repeat;">
                                                        <div class="gditemtitle" style="">选择宝贝后此处将显示宝贝标题</div>
                                                        <div class="gditemftitle" style="">此处可以输入自定义宝贝副标题与宝贝对应</div>
                                                        <div class="gditemprice" style=""><font style="">688元</font> 338元</div>
                                                    </a>
                                                    <div class="gdborder">
                                                        <div class="gdt"></div>
                                                        <div class="gdb"></div>
                                                        <div class="gdl"></div>
                                                        <div class="gdr"></div>
                                                    </div>
                                                </div>
                                                <div class="gditem" style="float:left;height:310px;padding:9.5px;">
                                                    <a class="gdlink" target="_blank" href="#" style="height:320px;font-family:微软雅黑;background:url(//gdp.alicdn.com/imgextra/i3/39767794/TB2FJBkaVXXXXX_XpXXXXXXXXXX_!!39767794.jpg_180x180.jpg) top center no-repeat;">
                                                        <div class="gditemtitle" style="">选择宝贝后此处将显示宝贝标题</div>
                                                        <div class="gditemftitle" style="">此处可以输入自定义宝贝副标题与宝贝对应</div>
                                                        <div class="gditemprice" style=""><font style="">688元</font> 338元</div>
                                                    </a>
                                                    <div class="gdborder">
                                                        <div class="gdt"></div>
                                                        <div class="gdb"></div>
                                                        <div class="gdl"></div>
                                                        <div class="gdr"></div>
                                                    </div>
                                                </div>
                                                <div class="gditem" style="float:left;height:310px;padding:9.5px;border-right:1px #DFDFDF solid;">
                                                    <a class="gdlink" target="_blank" href="#" style="height:320px;font-family:微软雅黑;background:url(//gdp.alicdn.com/imgextra/i2/39767794/TB2rAhjaVXXXXX9XpXXXXXXXXXX_!!39767794.jpg_180x180.jpg) top center no-repeat;">
                                                        <div class="gditemtitle" style="">选择宝贝后此处将显示宝贝标题</div>
                                                        <div class="gditemftitle" style="">此处可以输入自定义宝贝副标题与宝贝对应</div>
                                                        <div class="gditemprice" style=""><font style="">688元</font> 338元</div>
                                                    </a>
                                                    <div class="gdborder">
                                                        <div class="gdt"></div>
                                                        <div class="gdb"></div>
                                                        <div class="gdl"></div>
                                                        <div class="gdr"></div>
                                                    </div>
                                                </div>
                                                <div class="gditem" style="float:left;height:310px;padding:9.5px;border-right:1px #DFDFDF solid;">
                                                    <a class="gdlink" target="_blank" href="#" style="height:320px;font-family:微软雅黑;background:url(//gdp.alicdn.com/imgextra/i2/39767794/TB2UYXjaVXXXXagXpXXXXXXXXXX_!!39767794.jpg_180x180.jpg) top center no-repeat;">
                                                        <div class="gditemtitle" style="">选择宝贝后此处将显示宝贝标题</div>
                                                        <div class="gditemftitle" style="">此处可以输入自定义宝贝副标题与宝贝对应</div>
                                                        <div class="gditemprice" style=""><font style="">688元</font> 338元</div>
                                                    </a>
                                                    <div class="gdborder">
                                                        <div class="gdt"></div>
                                                        <div class="gdb"></div>
                                                        <div class="gdl"></div>
                                                        <div class="gdr"></div>
                                                    </div>
                                                </div>
                                                <div class="gditem" style="float:left;height:310px;padding:9.5px;">
                                                    <a class="gdlink" target="_blank" href="#" style="height:320px;font-family:微软雅黑;background:url(//gdp.alicdn.com/imgextra/i2/39767794/TB2FmxoaVXXXXbQXXXXXXXXXXXX_!!39767794.jpg_180x180.jpg) top center no-repeat;">
                                                        <div class="gditemtitle" style="">选择宝贝后此处将显示宝贝标题</div>
                                                        <div class="gditemftitle" style="">此处可以输入自定义宝贝副标题与宝贝对应</div>
                                                        <div class="gditemprice" style=""><font style="">688元</font> 338元</div>
                                                    </a>
                                                    <div class="gdborder">
                                                        <div class="gdt"></div>
                                                        <div class="gdb"></div>
                                                        <div class="gdl"></div>
                                                        <div class="gdr"></div>
                                                    </div>
                                                </div>
                                                <div class="gditem" style="float:left;height:310px;padding:9.5px;border-right:1px #DFDFDF solid;">
                                                    <a class="gdlink" target="_blank" href="#" style="height:320px;font-family:微软雅黑;background:url(//gdp.alicdn.com/imgextra/i1/39767794/TB2F84paVXXXXbrXXXXXXXXXXXX_!!39767794.jpg_180x180.jpg) top center no-repeat;">
                                                        <div class="gditemtitle" style="">选择宝贝后此处将显示宝贝标题</div>
                                                        <div class="gditemftitle" style="">此处可以输入自定义宝贝副标题与宝贝对应</div>
                                                        <div class="gditemprice" style=""><font style="">688元</font> 338元</div>
                                                    </a>
                                                    <div class="gdborder">
                                                        <div class="gdt"></div>
                                                        <div class="gdb"></div>
                                                        <div class="gdl"></div>
                                                        <div class="gdr"></div>
                                                    </div>
                                                </div>
                                                <div class="gditem" style="float:left;height:310px;padding:9.5px;border-right:1px #DFDFDF solid;">
                                                    <a class="gdlink" target="_blank" href="#" style="height:320px;font-family:微软雅黑;background:url(//gdp.alicdn.com/imgextra/i4/39767794/TB2h9XpaVXXXXbTXXXXXXXXXXXX_!!39767794.jpg_180x180.jpg) top center no-repeat;">
                                                        <div class="gditemtitle" style="">选择宝贝后此处将显示宝贝标题</div>
                                                        <div class="gditemftitle" style="">此处可以输入自定义宝贝副标题与宝贝对应</div>
                                                        <div class="gditemprice" style=""><font style="">688元</font> 338元</div>
                                                    </a>
                                                    <div class="gdborder">
                                                        <div class="gdt"></div>
                                                        <div class="gdb"></div>
                                                        <div class="gdl"></div>
                                                        <div class="gdr"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="ks-switchable-nav" style="display:none;"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="my_mm customdiv" style="width:100%;z-index:1;height:10844px;">
                                <div class="yinc" style="height:10844px;width:1920px;margin-left:-960px;">
                                    <div class="rel" data-title="power by junezx 2.0" style="position:relative;overflow:hidden;width:1920px;height:900px;background:#FFFFFF;margin:0 auto;" data-rn="ad02e">
                                        <a class="job abs imghover none app22491620-8161" data-linkmode="ptlink" data-appid="app22491620-8161" style="overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i3/39767794/TB2.mbKaFXXXXcsXXXXXXXXXXXX_!!39767794.png) 50% 50% no-repeat;width:360px;height:114px;top:34px;left:775px;z-index:10;" target="_blank"><img class="" style="width:360px;height:114px;display:none;" /></a>
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1404px;height:738px;top:159px;left:262px;z-index:10;">
                                            <a target="_blank" class="jspcb abs imghover trans05s june-box-dy40 ad02e-MBaK" data-appid="ad02e-MBaK" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i3/39767794/TB2zlrNaFXXXXboXXXXXXXXXXXX_!!39767794.jpg) 50% 50% no-repeat;width:1240px;height:622px;top:80px;left:74px;z-index:10;" data-jspbtype="imgContent"><img class="abs" style="width:1240px;height:622px;display:none;" /></a>
                                            <div class="jspcb abs imghover june-box-fadein trans05s ad02e-7iAF" data-appid="ad02e-7iAF" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:603px;height:26px;top:11px;left:385px;z-index:10;" data-jspbtype="customContent">
                                                <div style="font-size:14px;color:#8C8C8C;font-family:微软雅黑;">全球首款搭载 NVIDIA Tegra K1 192 核 PC 架构的 GPU / 夏普、友达 7.9 英寸全贴合视网膜屏</div>
                                            </div>
                                            <div class="jspcb abs imghover june-box-fadein trans05s ad02e-fwxt" data-appid="ad02e-fwxt" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:324px;height:48px;top:38px;left:548px;z-index:10;" data-jspbtype="customContent">
                                                <div style="font-size:18px;color:#333;font-family:微软雅黑;padding-top:10px;"><a style="color:#333;" href="//detail.tmall.com/item.htm?id=39832460407&scene=taobao_shop" target="_blank"><span style="border-radius:5px;border:1px solid #333;padding:5px;">16GB</span>  1299元　</a>
                                                    <a style="color:#333;" href="//detail.tmall.com/item.htm?id=40347673269&scene=taobao_shop" target="_blank">　　<span style="border-radius:5px;border:1px solid #333;padding:5px;">64GB</span> 1499元</a>
                                                </div>
                                            </div>
                                            <a href="//detail.tmall.com/item.htm?id=39832460407&scene=taobao_shop" target="_blank" class="jspcb abs imghover june-box-fadein trans05s ad02e-ZDwF" data-appid="ad02e-ZDwF" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i2/1714128138/TB2iIJQaVXXXXcnXXXXXXXXXXXX-1714128138.jpg) 50% 50% no-repeat;width:164px;height:49px;top:93px;left:605px;z-index:10;" data-jspbtype="imgContent"><img class="abs" style="width:164px;height:49px;display:none;" /></a>
                                            <a class="abs" href="#" target="_blank" style="width:1404px;height:738px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>


                                    <div class="rel" style="width:1920px;height:900px;background:#F7F7F7;margin-left:0px;">
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:900px;top:0px;left:0px;z-index:10;">
                                            <a target="_blank" class="jspcb abs imghover trans05s june-box-dy40 app27122851-813" data-appid="app27122851-813" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i4/39767794/TB2V62IaFXXXXXRXpXXXXXXXXXX_!!39767794.jpg) center center no-repeat;width:869px;height:726px;top:184px;left:498px;z-index:10;"><img class="abs" style="width:869px;height:726px;display:none;" /></a>
                                            <div class="jspcb abs imghover trans05s app27122859-5138" data-appid="app27122859-5138" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:541px;height:52px;top:11px;left:646px;z-index:10;">
                                                <div style="font-size:36px;color:#333;font-family:微软雅黑;">
                                                    极致的视网膜屏，好用的屏幕比例
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover june-box-fadein trans05s app27122862-9735" data-appid="app27122862-9735" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:982px;height:89px;top:120px;left:438px;z-index:10;">
                                                <div style="font-size:16px;color:#333;font-family:微软雅黑;">
                                                    使用了当前最为先进的全贴合显示屏解决方案，同时配备 7.9 英寸视网膜显示屏，高达 326 ppi，分辨率为 2048 × 1536，这一数值代表当你用肉眼已经无法识别单个物理像素点。当你使用小米平板进行阅读、浏览网页、看视频、玩游戏时看到的每一处画面细节都超乎寻常的清晰。4:3 的屏幕比例更适合阅读，也能轻松兼容主流游戏与应用。
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover trans05s app27122865-9415" data-appid="app27122865-9415" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:492px;height:54px;top:61px;left:672px;z-index:10;">
                                                <div style="font-size:30px;color:#8C8C8C;font-family:微软雅黑;">
                                                    7.9 英寸，与 iPad mini2 相同分辨率
                                                </div>
                                            </div>
                                            <a class="abs" href="#" target="_blank" style="width:1920px;height:900px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>





                                    <div class="rel" style="width:1920px;height:1100px;background:#FFFFFF;margin-left:0px;">
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:1100px;top:0px;left:0px;z-index:10;">
                                            <a target="_blank" class="jspcb abs imghover trans05s june-box-dy40 app22639300-939" data-appid="app22639300-939" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i2/39767794/TB2RkTKaFXXXXcwXXXXXXXXXXXX_!!39767794.jpg) center center no-repeat;width:1240px;height:806px;top:229px;left:310px;z-index:10;"><img class="abs" style="width:1240px;height:806px;display:none;" /></a>
                                            <div class="jspcb abs imghover trans05s app22747128-1845" data-appid="app22747128-1845" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:738px;height:52px;top:66px;left:541px;z-index:10;">
                                                <div style="font-size:36px;color:#333;font-family:微软雅黑;">
                                                    全球首款搭载 NVIDIA Tegra K1 处理器平板
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover june-box-fadein trans05s app23815425-3023" data-appid="app23815425-3023" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:995px;height:71px;top:188px;left:433px;z-index:10;">
                                                <div style="font-size:16px;color:#333;font-family:微软雅黑;">
                                                    NVIDIA Tegra K1 四核 2.2GHz ARM Cortex-A15 处理器基于世界上最先进的 GPU 架构 Kepler 打造而成，这个架构能驱动顶级的个人 PC 机。全面支持 OpenGL 4.4、OpenGL ES 3.1, 曲面细分等最新 PC 级游戏技术，这意味你可以得到更身临其境的游戏体验。
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover trans05s app23909509-5367" data-appid="app23909509-5367" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:495px;height:43px;top:131px;left:665px;z-index:10;">
                                                <div style="font-size:24px;color:#8C8C8C;font-family:微软雅黑;">
                                                    192 核图形处理器，媲美 PC 级图形运算能力
                                                </div>
                                            </div>
                                            <a class="abs" target="_blank" style="width:1920px;height:1100px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>





                                    <div class="rel" style="width:1920px;height:1100px;background:#F7F7F7;margin-left:0px;">
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:1100px;top:0px;left:0px;z-index:10;">
                                            <a target="_blank" class="jspcb abs imghover trans05s june-box-dy40 app22639300-939" data-appid="app22639300-939" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i4/39767794/TB26mLIaFXXXXXWXpXXXXXXXXXX_!!39767794.jpg) center center no-repeat;width:1240px;height:714px;top:251px;left:310px;z-index:10;"><img class="abs" style="width:1240px;height:714px;display:none;" /></a>
                                            <div class="jspcb abs imghover trans05s app22747128-1845" data-appid="app22747128-1845" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:439px;height:52px;top:66px;left:691px;z-index:10;">
                                                <div style="font-size:36px;color:#333;font-family:微软雅黑;">
                                                    为大屏幕量身定制的 MIUI
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover june-box-fadein trans05s app23815425-3023" data-appid="app23815425-3023" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:995px;height:71px;top:188px;left:433px;z-index:10;">
                                                <div style="font-size:16px;color:#333;font-family:微软雅黑;">
                                                    MIUI 系统基于 Android 深度定制，改进上百个功能点，它也许是最好用的 Android 手机系统。今天，如此好用的 MIUI 系统在小米平板上也大放异彩。根据平板设备特点再度改进优化，锁屏、桌面、相册、视频、读书等应用，均为大屏幕和双手握持全新设计。如今，全球有 5000 万发烧友使用 MIUI，不断提出优化建议。开发版每周升级，新玩法不断翻新。
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover trans05s app23909509-5367" data-appid="app23909509-5367" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:286px;height:43px;top:130px;left:773px;z-index:10;">
                                                <div style="font-size:24px;color:#8C8C8C;font-family:微软雅黑;">
                                                    做最好用的安卓平板系统</div>
                                            </div>
                                            <a class="abs" target="_blank" style="width:1920px;height:1100px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>



                                    <div class="rel" style="width:1920px;height:1100px;background:#FFFFFF;margin-left:0px;">
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:1100px;top:0px;left:0px;z-index:10;">
                                            <a target="_blank" class="jspcb abs imghover trans05s june-box-dy40 app22639300-939" data-appid="app22639300-939" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i2/39767794/TB2doPJaFXXXXcOXXXXXXXXXXXX_!!39767794.jpg) center center no-repeat;width:1240px;height:712px;top:251px;left:310px;z-index:10;"><img class="abs" style="width:1240px;height:712px;display:none;" /></a>
                                            <div class="jspcb abs imghover trans05s app22747128-1845" data-appid="app22747128-1845" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:439px;height:52px;top:65px;left:729px;z-index:10;">
                                                <div style="font-size:36px;color:#333;font-family:微软雅黑;">
                                                    超越纸质书的阅读体验
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover june-box-fadein trans05s app23815425-3023" data-appid="app23815425-3023" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:995px;height:71px;top:188px;left:433px;z-index:10;">
                                                <div style="font-size:16px;color:#333;font-family:微软雅黑;">
                                                    小米平板的尺寸与一本 32 开图书非常相近。内置多看阅读 App 可以完美还原纸质书的排版体验。不仅支持各种方式的图文混排，甚至连数学公式和程序代码都能完美展现。用小米平板看漫画也非常方便，图书中能插入视频和画册。视网膜显示屏将所有内容跃然“屏”上。目前已上架 1.6 万册精排图书，更多好书、杂志不断更新。
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover trans05s app23909509-5367" data-appid="app23909509-5367" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:527px;height:43px;top:131px;left:703px;z-index:10;">
                                                <div style="font-size:24px;color:#8C8C8C;font-family:微软雅黑;">
                                                    十余种排版方式，丰富的笔记、同步功能
                                                </div>
                                            </div>
                                            <a class="abs" target="_blank" style="width:1920px;height:1100px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>




                                    <div class="rel" style="width:1920px;height:1100px;background:#F5F5F5;margin-left:0px;">
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:1100px;top:0px;left:0px;z-index:10;">
                                            <a target="_blank" class="jspcb abs imghover trans05s june-box-dy40 app22639300-939" data-appid="app22639300-939" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i3/39767794/TB2wjYJaFXXXXcSXXXXXXXXXXXX_!!39767794.jpg) center center no-repeat;width:1240px;height:637px;top:247px;left:360px;z-index:10;"><img class="abs" style="width:1240px;height:637px;display:none;" /></a>
                                            <div class="jspcb abs imghover trans05s app22747128-1845" data-appid="app22747128-1845" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:497px;height:52px;top:64px;left:713px;z-index:10;">
                                                <div style="font-size:36px;color:#333;font-family:微软雅黑;">
                                                    为双手操作优化的网页浏览器
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover june-box-fadein trans05s app23815425-3023" data-appid="app23815425-3023" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:995px;height:71px;top:188px;left:433px;z-index:10;">
                                                <div style="font-size:16px;color:#333;font-family:微软雅黑;">
                                                    好用的浏览器就是速度快，操作也很便捷。人们使用平板浏览网页时经常会双手握持，所以小米平板 内置浏览器将常用操作都放在手指能够轻易触及的顶部。为了让输入网址更方便，在输入时会预测你想要浏览的网址， 并以直观的 " 网址卡片 " 实时显示。
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover trans05s app23909509-5367" data-appid="app23909509-5367" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:241px;height:43px;top:129px;left:842px;z-index:10;">
                                                <div style="font-size:24px;color:#8C8C8C;font-family:微软雅黑;">
                                                    将常用操作放在指尖
                                                </div>
                                            </div>
                                            <a class="abs" target="_blank" style="width:1920px;height:1100px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>





                                    <div class="rel" style="width:1920px;height:1100px;background:#FFFFFF;margin-left:0px;">
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:1100px;top:0px;left:0px;z-index:10;">
                                            <a target="_blank" class="jspcb abs imghover trans05s june-box-dy40 app22639300-939" data-appid="app22639300-939" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i2/39767794/TB2d_HKaFXXXXchXXXXXXXXXXXX_!!39767794.jpg) center center no-repeat;width:1920px;height:569px;top:267px;left:3px;z-index:10;"><img class="abs" style="width:1920px;height:569px;display:none;" /></a>
                                            <div class="jspcb abs imghover trans05s app22747128-1845" data-appid="app22747128-1845" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:620px;height:52px;top:67px;left:657px;z-index:10;">
                                                <div style="font-size:36px;color:#333;font-family:微软雅黑;">
                                                    好用的移动办公，随时随地记录灵感
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover june-box-fadein trans05s app23815425-3023" data-appid="app23815425-3023" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:995px;height:71px;top:188px;left:433px;z-index:10;">
                                                <div style="font-size:16px;color:#333;font-family:微软雅黑;">
                                                    WPS Office 是一款高效的移动办公软件，它完美兼容 Word、Excel、PowerPoint 所创建的文档格式。同时，WPS 支持金山快盘、Dropbox 等多种主流网盘，提供 WiFi 文件传输功能与文档漫游，在 WPS 中打开过的文档会自动同步到已登录的设备上，让你随时随地创作或记录灵感。
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover trans05s app23909509-5367" data-appid="app23909509-5367" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:500px;height:43px;top:129px;left:699px;z-index:10;">
                                                <div style="font-size:24px;color:#8C8C8C;font-family:微软雅黑;">
                                                    使用 WPS Office 随时编辑文档、表格与 PPT
                                                </div>
                                            </div>
                                            <a class="abs" target="_blank" style="width:1920px;height:1100px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>


                                    <div class="rel" style="width:1920px;height:1100px;background:#F5F5F5;margin-left:0px;">
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:1100px;top:0px;left:0px;z-index:10;">
                                            <a target="_blank" class="jspcb abs imghover trans05s june-box-dy40 app22639300-939" data-appid="app22639300-939" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i1/39767794/TB2qn2IaFXXXXXwXpXXXXXXXXXX_!!39767794.jpg) center center no-repeat;width:1240px;height:518px;top:285px;left:325px;z-index:10;"><img class="abs" style="width:1240px;height:518px;display:none;" /></a>
                                            <div class="jspcb abs imghover trans05s app22747128-1845" data-appid="app22747128-1845" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:335px;height:52px;top:68px;left:786px;z-index:10;">
                                                <div style="font-size:36px;color:#333;font-family:微软雅黑;">
                                                    极致工作，拼命玩！
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover june-box-fadein trans05s app23815425-3023" data-appid="app23815425-3023" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:995px;height:71px;top:188px;left:433px;z-index:10;">
                                                <div style="font-size:16px;color:#333;font-family:微软雅黑;">
                                                    浏览新闻、编辑演示文档或是翻看菜谱做一道精美的佳肴。内置的读书、视频、浏览器、 WPS 办公帮你以最佳方式完成最常用的任务。你也可以从应用商店下载众多出色的应用或游戏。 这让你变得几乎无所不能，这些以往看去纷繁的事务变得简单很多。
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover trans05s app23909509-5367" data-appid="app23909509-5367" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:292px;height:43px;top:129px;left:800px;z-index:10;">
                                                <div style="font-size:24px;color:#8C8C8C;font-family:微软雅黑;">
                                                    强大的 App 让你无所不能
                                                </div>
                                            </div>
                                            <a class="abs" target="_blank" style="width:1920px;height:1100px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>





                                    <div class="rel" style="width:1920px;height:800px;background:#FFFFFF;margin-left:0px;">
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:1100px;top:0px;left:0px;z-index:10;">
                                            <a target="_blank" class="jspcb abs imghover trans05s june-box-dy40 app22639300-939" data-appid="app22639300-939" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i4/39767794/TB28dnPaFXXXXalXXXXXXXXXXXX_!!39767794.jpg) center center no-repeat;width:1920px;height:417px;top:285px;left:239px;z-index:10;"><img class="abs" style="width:1920px;height:417px;display:none;" /></a>
                                            <div class="jspcb abs imghover trans05s app22747128-1845" data-appid="app22747128-1845" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:595px;height:52px;top:68px;left:672px;z-index:10;">
                                                <div style="font-size:36px;color:#333;font-family:微软雅黑;">
                                                    用最便捷的方式拷贝照片、存储音乐
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover june-box-fadein trans05s app23815425-3023" data-appid="app23815425-3023" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:995px;height:71px;top:188px;left:433px;z-index:10;">
                                                <div style="font-size:16px;color:#333;font-family:微软雅黑;">
                                                    小米平板侧面有一个 Micro SD（TF）卡槽，可以插入一张存储卡扩展小米平板的存储空间。最高可扩展 128GB 容量，用来存放海量照片、音乐或高清电影。与小米平板传输文件也非常方便，无需使用额外软件或复杂设置，直接连接电脑就可以像本地拷贝文件一样与小米平板进行文件传输。</div>
                                            </div>
                                            <div class="jspcb abs imghover trans05s app23909509-5367" data-appid="app23909509-5367" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:472px;height:43px;top:130px;left:734px;z-index:10;">
                                                <div style="font-size:24px;color:#8C8C8C;font-family:微软雅黑;">
                                                    可扩展至 128GB Micro SD（TF） 存储卡
                                                </div>
                                            </div>
                                            <a class="abs" target="_blank" style="width:1920px;height:1100px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>





                                    <div class="rel" style="width:1920px;height:822px;background:#F5F5F5;margin-left:0px;">
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:822px;top:0px;left:0px;z-index:10;">
                                            <a target="_blank" class="jspcb abs imghover trans05s june-box-dy40 app22639300-939" data-appid="app22639300-939" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;background:url(//gdp.alicdn.com/imgextra/i2/39767794/TB20ATPaFXXXXX3XXXXXXXXXXXX_!!39767794.jpg) center center no-repeat;width:1240px;height:533px;top:289px;left:357px;z-index:10;"><img class="abs" style="width:1240px;height:533px;display:none;" /></a>
                                            <div class="jspcb abs imghover trans05s app22747128-1845" data-appid="app22747128-1845" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:595px;height:52px;top:106px;left:818px;z-index:10;">
                                                <div style="font-size:36px;color:#333;font-family:微软雅黑;">
                                                    青春的色彩
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover june-box-fadein trans05s app23815425-3023" data-appid="app23815425-3023" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:995px;height:71px;top:188px;left:433px;z-index:10;">
                                                <div style="font-size:16px;color:#333;font-family:微软雅黑;">
                                                    小米平板采用与苹果 iPhone 5C 一样的后盖工艺，但在平板上使用尚属首次。经过改良的高光注塑工艺，可以在如此大的面积上展现出均匀、平坦、鲜艳的颜色。无论是宁静的蓝色、热情的柠黄或是浪漫的粉色，总会有一款适合你，现在就来选择一款属于自己的颜色吧。
                                                </div>
                                            </div>
                                            <a class="abs" target="_blank" style="width:1920px;height:822px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>





                                    <div class="rel" style="width:1920px;height:822px;background:#FFFFFF;margin-left:0px;">
                                        <div class="jspb abs imghover trans05s app22639253-5114" data-appid="app22639253-5114" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:822px;top:0px;left:0px;z-index:10;">
                                            <div class="jspcb abs imghover trans05s june-box-dy40 app27259933-4125" data-appid="app27259933-4125" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:1920px;height:726px;top:95px;left:-2px;z-index:10;">
                                                <div class="rel" style="width:1920px;height:726px;background:url(//gdp.alicdn.com/imgextra/i4/39767794/TB2iJzHaFXXXXaUXpXXXXXXXXXX_!!39767794.jpg) 50% 0% no-repeat scroll;margin-left:0px;">
                                                    <a class="jdb abs app27492229-5588" href="//detail.tmall.com/item.htm?id=39832460407&scene=taobao_shop" target="_blank" style="display:block;width:379px;height:640px;top:18px;left:565px;border-style:solid;border:none;z-index:10;" data-linkmode="ptlink" data-appid="app27492229-5588"></a>
                                                    <a class="jdb abs app27494938-4158" href="//detail.tmall.com/item.htm?id=40347673269&scene=taobao_shop" target="_blank" style="display:block;width:396px;height:640px;top:18px;left:967px;border-style:solid;border:none;z-index:10;" data-linkmode="ptlink" data-appid="app27494938-4158"></a>
                                                </div>
                                            </div>
                                            <div class="jspcb abs imghover trans05s app27259937-5885" data-appid="app27259937-5885" style="-webkit-transition:0.5s ease-in;-moz-transition:0.5s ease-in;-o-transition:0.5s ease-in;transition:0.5s ease-in;overflow:hidden;width:595px;height:52px;top:25px;left:853px;z-index:10;">
                                                <div style="font-size:36px;color:#333;font-family:微软雅黑;">
                                                    可选两种版本
                                                </div>
                                            </div>
                                            <a class="abs" href="#" target="_blank" style="width:1920px;height:822px;display:block;top:0px;left:0px;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fixbg" style="display:none;width:1920px;left:-465px;height:80000px;background-attachment:fixed;background-repeat:no-repeat;background-position:top center;_background-image:none;"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>